<div id="{$_name}" class="page_{$_page}">



		<section class="atk-section-xlarge">
			<div class="atk-align-center atk-wrapper">
				<h1>About Scandic Fusion</h1>
				<hr class="hr-short atk-col-1 atk-move-center">
				<p class="atk-size-mega atk-text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget justo eget nisl mattis posuere eu ut neque. Aenean congue mollis est, ac viverra mauris bibendum et.</p>
			</div>
		</section>
		<hr class="atk-hr-reset">
		<section>
			<div class="timeline atk-wrapper atk-section-xlarge">
				<h2 class="atk-align-center atk-push-large text-bodycolor">Company History</h2>
				<div class="year-block atk-align-center atk-size-milli">
					<div class="year atk-padding-xsmall atk-inline atk-col-1 atk-text-medium">2015</div>
				</div>
				<div class="year-block atk-align-center atk-size-milli">
					<div class="event">
						<div class="atk-box-small atk-swatch-blue atk-col-4 atk-align-left atk-inline" style="margin-top: -37px;">
							<ul>
								<li>18 active BI customers</li>
								<li>Milestone of 25+ BI projects in total</li>
							</ul>
						</div>
						<div class="mark atk-shape-circle"></div>
					</div>
					<div class="year atk-padding-xsmall atk-inline atk-col-1 atk-text-medium">2014</div>
				</div>
				<div class="year-block atk-align-center atk-size-milli">
					<div class="event">
						<div class="atk-box-small atk-swatch-blue atk-col-4 atk-align-left atk-inline" style="margin-top: -82.5px;">
							<ul>
								<li>Eagerly helping Latvian companies prepare for migration from LVL to EUR</li>
								<li>First development projects in the Nordics 13 active BI customers</li>
								<li>Milestone of 20+ BI projects in total Data mining is used by first customers</li>
							</ul>
						</div>
						<div class="mark atk-shape-circle"></div>
					</div>
					<div class="year atk-padding-xsmall atk-inline atk-col-1 atk-text-medium">2013</div>
				</div>
				<div class="year-block atk-align-center atk-size-milli">
					<div class="event">
						<div class="atk-box-small atk-swatch-blue atk-col-4 atk-align-left atk-inline" style="margin-top: -72px;">
							<ul>
								<li>Another real-time DWH/BI project goes live</li>
								<li>12 active BI customers</li>
								<li>Mobile BI solutions is actively used by first customers</li>
							</ul>
						</div>
						<div class="mark atk-shape-circle"></div>
					</div>
					<div class="year atk-padding-xsmall atk-inline atk-col-1 atk-text-medium">2012</div>
				</div>
				<div class="year-block atk-align-center atk-size-milli">
					<div class="event">
						<div class="atk-box-small atk-swatch-blue atk-col-4 atk-align-left atk-inline" style="margin-top: -58px;">
							<ul>
								<li>First major real-time DWH/BI project goes live 11 active BI customers</li>
								<li>Milestone of 15 BI implementations in total</li>
							</ul>
						</div>
						<div class="mark atk-shape-circle"></div>
					</div>
					<div class="year atk-padding-xsmall atk-inline atk-col-1 atk-text-medium">2011</div>
				</div>
				<div class="year-block atk-align-center atk-size-milli">
					<div class="event">
						<div class="atk-box-small atk-swatch-blue atk-col-4 atk-align-left atk-inline" style="margin-top: -37px;">
							<ul>
								<li>9 active BI customers</li>
								<li>Milestone of 10 BI projects in total</li>
							</ul>
						</div>
						<div class="mark atk-shape-circle"></div>
					</div>
					<div class="year atk-padding-xsmall atk-inline atk-col-1 atk-text-medium">2010</div>
				</div>
				<div class="year-block atk-align-center atk-size-milli">
					<div class="event">
						<div class="atk-box-small atk-swatch-blue atk-col-4 atk-align-left atk-inline" style="margin-top: -37px;">
							<ul>
								<li>4 active BI customers</li>
								<li>Milestone of 5 BI projects in total</li>
							</ul>
						</div>
						<div class="mark atk-shape-circle"></div>
					</div>
					<div class="year atk-padding-xsmall atk-inline atk-col-1 atk-text-medium">2009</div>
				</div>
				<div class="year-block atk-align-center atk-size-milli">
					<div class="event">
						<div class="atk-box-small atk-swatch-blue atk-col-4 atk-align-left atk-inline" style="margin-top: -47.5px;">
							<ul>
								<li>Working hard on establishing the reputation in the Latvian market</li>
								<li>3 active BI customers</li>
							</ul>
						</div>
						<div class="mark atk-shape-circle"></div>
					</div>
					<div class="year atk-padding-xsmall atk-inline atk-col-1 atk-text-medium">2008</div>
				</div>
				<div class="year-block atk-align-center atk-size-milli">
					<div class="event">
						<div class="atk-box-small atk-swatch-blue atk-col-4 atk-align-left atk-inline" style="margin-top: -33px;">
							<ul>
								<li>Beginning of the wonderful journey in BI world – starting with 2 first customers</li>
							</ul>
						</div>
						<div class="mark atk-shape-circle"></div>
					</div>
					<div class="year atk-padding-xsmall atk-inline atk-col-1 atk-text-medium">2007</div>
				</div>
			</div>
		</section>
		<hr class="atk-hr-reset">
		<section class="atk-wrapper testimonials">
			<div class="atk-section-xlarge atk-align-center">
				<h2 class="atk-push-large text-bodycolor">What Our Clients Say?</h2>
				<div class="icon-arrow-east"></div>
				<article class="testimonial atk-col-8 atk-move-center atk-box-large atk-border-active atk-popover atk-popover-bottom-center atk-push-large">“Working with Scandic Fusion is a great professional experience: both in terms of quality of delivered service and in terms of communication between our companies. The industry Bosch in the Baltics works in is constantly evolving; therefore, we need flexibility and complex technical solutions from our suppliers. During one year of successful cooperation with Scandic Fusion we implemented core business analysis, cost allocation solution and budgeting solution. There are also several ongoing projects, and we are looking forward to continuing our successful partnership.”
					<div class="atk-popover-arrow"></div>
					<div class="atk-shape-circle atk-box-small atk-swatch-blue atk-shape-rounded atk-size-giga atk-inline atk-text-baseline-reset">
						<div class="icon-quotes"></div>
					</div>
				</article>
				<div class="testimonial-author">
					<div class="atk-push-small"><img src="{$public}images/logo-bosch.svg" class="atk-col-2 atk-inline"></div>
				</div>
				<div class="atk-size-kilo">Olga Pleyer
					<div class="atk-size-milli atk-text-dimmed">BOSCH Baltics</div>
				</div>
			</div>
		</section>
		<hr class="atk-hr-reset">
		<section class="atk-wrapper">
			<div class="atk-section-xlarge">
				<div class="atk-row">
					<div class="atk-col-6">
						<div class="atk-cells"><a href="javascript:void(0)" class="atk-cell atk-swatch-lightGray atk-shape-rounded further-action atk-text-baseline-reset atk-align-center"><span class="icon-heart atk-size-yotta atk-inline atk-push"></span>
							<div class="atk-size-mega atk-text-medium">Get to Know Us</div></a></div>
					</div>
					<div class="atk-col-6">
						<div class="atk-cells"><a href="javascript:void(0)" class="atk-cell atk-swatch-lightGray atk-shape-rounded further-action atk-text-baseline-reset atk-align-center"><span class="icon-plus atk-size-yotta atk-inline atk-push"></span>
							<div class="atk-size-mega atk-text-medium">Join Our Team</div></a></div>
					</div>
				</div>
			</div>
		</section>






    {$Content}
</div>