<div id="{$_name}" class="page_{$_page}">

		<section class="atk-section-xlarge">
			<div class="atk-align-center atk-wrapper">
				{$h1_spot}
				<hr class="hr-short atk-col-1 atk-move-center">
				{$paragraph_mega_spot}
			</div>
		</section>
		<hr class="atk-hr-reset">
		<!-- <section>
			<div class="timeline atk-wrapper atk-section-xlarge">
				{$header_h2_spot}
				<div class="year-block atk-align-center atk-size-milli">
					<div class="year atk-padding-xsmall atk-inline atk-col-1 atk-text-medium">2015</div>
				</div>
				<div class="year-block atk-align-center atk-size-milli">
					<div class="event">
						<div class="atk-box-small atk-swatch-blue atk-col-4 atk-align-left atk-inline" style="margin-top: -37px;">
							{$list_2015}
						</div>
						<div class="mark atk-shape-circle"></div>
					</div>
					<div class="year atk-padding-xsmall atk-inline atk-col-1 atk-text-medium">2014</div>
				</div>
				<div class="year-block atk-align-center atk-size-milli">
					<div class="event">
						<div class="atk-box-small atk-swatch-blue atk-col-4 atk-align-left atk-inline" style="margin-top: -82.5px;">
							{$list_2014}
						</div>
						<div class="mark atk-shape-circle"></div>
					</div>
					<div class="year atk-padding-xsmall atk-inline atk-col-1 atk-text-medium">2013</div>
				</div>
				<div class="year-block atk-align-center atk-size-milli">
					<div class="event">
						<div class="atk-box-small atk-swatch-blue atk-col-4 atk-align-left atk-inline" style="margin-top: -72px;">
							{$list_2013}
						</div>
						<div class="mark atk-shape-circle"></div>
					</div>
					<div class="year atk-padding-xsmall atk-inline atk-col-1 atk-text-medium">2012</div>
				</div>
				<div class="year-block atk-align-center atk-size-milli">
					<div class="event">
						<div class="atk-box-small atk-swatch-blue atk-col-4 atk-align-left atk-inline" style="margin-top: -58px;">
							{$list_2012}
						</div>
						<div class="mark atk-shape-circle"></div>
					</div>
					<div class="year atk-padding-xsmall atk-inline atk-col-1 atk-text-medium">2011</div>
				</div>
				<div class="year-block atk-align-center atk-size-milli">
					<div class="event">
						<div class="atk-box-small atk-swatch-blue atk-col-4 atk-align-left atk-inline" style="margin-top: -37px;">
							{$list_2011}
						</div>
						<div class="mark atk-shape-circle"></div>
					</div>
					<div class="year atk-padding-xsmall atk-inline atk-col-1 atk-text-medium">2010</div>
				</div>
				<div class="year-block atk-align-center atk-size-milli">
					<div class="event">
						<div class="atk-box-small atk-swatch-blue atk-col-4 atk-align-left atk-inline" style="margin-top: -37px;">
							{$list_2010}
						</div>
						<div class="mark atk-shape-circle"></div>
					</div>
					<div class="year atk-padding-xsmall atk-inline atk-col-1 atk-text-medium">2009</div>
				</div>
				<div class="year-block atk-align-center atk-size-milli">
					<div class="event">
						<div class="atk-box-small atk-swatch-blue atk-col-4 atk-align-left atk-inline" style="margin-top: -47.5px;">
							{$list_2009}
						</div>
						<div class="mark atk-shape-circle"></div>
					</div>
					<div class="year atk-padding-xsmall atk-inline atk-col-1 atk-text-medium">2008</div>
				</div>
				<div class="year-block atk-align-center atk-size-milli">
					<div class="event">
						<div class="atk-box-small atk-swatch-blue atk-col-4 atk-align-left atk-inline" style="margin-top: -33px;">
							{$list_2008}
						</div>
						<div class="mark atk-shape-circle"></div>
					</div>
					<div class="year atk-padding-xsmall atk-inline atk-col-1 atk-text-medium">2007</div>
				</div>
			</div>
		</section> -->


	<hr class="atk-hr-reset">
	<section class="atk-wrapper testimonials">
		<div class="atk-section-xlarge atk-align-center">
			<h2 class="atk-push-large text-bodycolor">{$what_clients_say}</h2>
			<div class="testimonial-carousel">
				<div class="testimonial-carousel-mask">
					<article class="testimonial atk-col-8 atk-move-center">
						<div class="atk-box-large atk-border-overlay atk-push-large">{$what_clients_say_phrase}
							<div class="testimonial-arrow"></div>
							<div class="atk-shape-circle atk-box-small atk-swatch-blue atk-shape-rounded atk-size-giga atk-inline atk-text-baseline-reset">
								<div class="icon-quotes"></div>
							</div>
						</div>
						<div class="testimonial-author">
							<div class="atk-push-small"><img src="images/logo-bosch.svg" height="40" class="atk-inline"></div>
						</div>
						<div class="atk-size-kilo">{$what_clients_say_author}
							<div class="atk-size-milli atk-text-dimmed">{$what_clients_say_author_from}</div>
						</div>
					</article>
					<article class="testimonial atk-col-8 atk-move-center">
						<div class="atk-box-large atk-border-overlay atk-push-large">{$what_clients_say_phrase}
							<div class="testimonial-arrow"></div>
							<div class="atk-shape-circle atk-box-small atk-swatch-blue atk-shape-rounded atk-size-giga atk-inline atk-text-baseline-reset">
								<div class="icon-quotes"></div>
							</div>
						</div>
						<div class="testimonial-author">
							<div class="atk-push-small"><img src="images/logo-bosch.svg" height="40" class="atk-inline"></div>
						</div>
						<div class="atk-size-kilo">{$what_clients_say_author}
							<div class="atk-size-milli atk-text-dimmed">{$what_clients_say_author_from}</div>
						</div>
					</article>
					<article class="testimonial atk-col-8 atk-move-center">
						<div class="atk-box-large atk-border-overlay atk-push-large">{$what_clients_say_phrase}
							<div class="testimonial-arrow"></div>
							<div class="atk-shape-circle atk-box-small atk-swatch-blue atk-shape-rounded atk-size-giga atk-inline atk-text-baseline-reset">
								<div class="icon-quotes"></div>
							</div>
						</div>
						<div class="testimonial-author">
							<div class="atk-push-small"><img src="images/logo-bosch.svg" height="40" class="atk-inline"></div>
						</div>
						<div class="atk-size-kilo">{$what_clients_say_author}
							<div class="atk-size-milli atk-text-dimmed">{$what_clients_say_author_from}</div>
						</div>
					</article>
				</div>
			</div>
		</div>
	</section>


		<hr class="atk-hr-reset">
		<section class="atk-wrapper">
			<div class="atk-section-xlarge">
				<div class="atk-row">
					<div class="atk-col-6">
						<div class="atk-cells"><a href="javascript:void(0)" class="atk-cell atk-swatch-lightGray atk-shape-rounded further-action atk-text-baseline-reset atk-align-center"><span class="icon-heart atk-size-yotta atk-inline atk-push"></span>
							<div class="atk-size-mega atk-text-medium">Get to Know Us</div></a></div>
					</div>
					<div class="atk-col-6">
						<div class="atk-cells"><a href="javascript:void(0)" class="atk-cell atk-swatch-lightGray atk-shape-rounded further-action atk-text-baseline-reset atk-align-center"><span class="icon-plus atk-size-yotta atk-inline atk-push"></span>
							<div class="atk-size-mega atk-text-medium">Join Our Team</div></a></div>
					</div>
				</div>
			</div>
		</section>

    {$Content}

</div>