<div id="{$_name}" class="page_{$_page}">
    <div class="hero atk-shape-rounded atk-cells atk-swatch-seaweed atk-push">
        <div class="atk-cell atk-valign-middle">

            <div class="title atk-size-yotta atk-align-center atk-push">Intelligent decisions for business</div>

            <a href="/contact" target="_blank" class="atk-swatch-emerald atk-size-kilo">
                <button class="atk-button atk-swatch-emerald atk-move-center big-button atk-size-mega">Action button 1</button>
            </a>

            <a href="/contact" target="_blank" class="atk-swatch-emerald atk-size-kilo">
                <button class="atk-button atk-swatch-emerald atk-move-center big-button atk-size-mega">Action button 2</button>
            </a>

        </div>
    </div>
    {$Content}
</div>