<div id="{$_name}" class="page_{$_page}">
    <div class="atk-box">{$header_h4_spot}</div>
    <div class="atk-box">
        <div class="atk-row">
            <div class="atk-col-6 atk-box">{$big_block_spot_1}</div>
            <div class="atk-col-6 atk-box">{$big_block_spot_2}</div>
        </div>
        <div class="atk-row">
            <div class="atk-col-6 atk-box">{$big_block_spot_3}</div>
            <div class="atk-col-6 atk-box">{$big_block_spot_4}</div>
        </div>
    </div>
</div>