<div id="{$_name}" class="page_{$_page}">
    <div class="atk-box">{$header_h4_spot}</div>
    <div class="atk-box">
        <div class="atk-row">
            <div class="atk-col-4 atk-box">{$button_spot_1}</div>
            <div class="atk-col-4 atk-box">{$button_spot_2}</div>
            <div class="atk-col-4 atk-box">{$button_spot_3}</div>
        </div>
        <div class="atk-row">
            <div class="atk-col-4 atk-box">{$button_spot_4}</div>
            <div class="atk-col-4 atk-box">{$button_spot_5}</div>
            <div class="atk-col-4 atk-box">{$button_spot_6}</div>
        </div>
        <div class="atk-row">
            <div class="atk-col-4 atk-box">{$button_spot_7}</div>
            <div class="atk-col-4 atk-box">{$button_spot_8}</div>
            <div class="atk-col-4 atk-box">{$button_spot_9}</div>
        </div>
    </div>
    <div class="atk-box">{$long_button_spot}</div>

</div>