<div id="{$_name}" class="page_{$_page}">
    <section class="services-header">
        <div class="atk-wrapper atk-section-xlarge">
            <div class="atk-col-7">
                <h1>Competences &amp; Services</h1>
                <hr class="hr-short atk-col-1">
                <p class="atk-size-mega text-darkblue atk-text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget justo eget nisl mattis posuere eu ut neque. Aenean congue mollis est, ac viverra mauris bibendum et.</p>
            </div>
            <div class="services-graphics globe"></div>
        </div>
    </section>
    <section class="atk-swatch-blue services-selection">
        <div class="atk-wrapper atk-text-baseline-reset">
            <div class="atk-cells-group atk-cells-justified atk-expand atk-align-center">
                <div class="atk-cells">
                    {$SubMenu}
                    <a href="javascript:void(0)" class="atk-cell atk-section-large atk-swatch-blue">
                        <div class="icon-aim atk-push atk-size-yotta"></div>
                        <strong>Pre-study of BI needs</strong>
                    </a>
                    <a href="javascript:void(0)" class="atk-cell atk-section-large atk-swatch-blue">
                    <div class="icon-chart atk-push atk-size-yotta"></div><strong>BI implementation</strong></a><a href="javascript:void(0)" class="atk-cell atk-section-large atk-swatch-blue">
                    <div class="icon-maintenance atk-push atk-size-yotta"></div><strong>Maintenance &amp; support</strong></a><a href="javascript:void(0)" class="atk-cell atk-section-large atk-swatch-blue">
                    <div class="icon-scale atk-push atk-size-yotta"></div><strong>Licensing advisory</strong></a></div>
                <div class="atk-cells"><a href="javascript:void(0)" class="atk-cell atk-section-large atk-swatch-blue">
                    <div class="icon-clipboard atk-push atk-size-yotta"></div><strong>DWH/BI audit</strong></a></div>
            </div>
        </div>
    </section>
    <section class="atk-section-xlarge">
        <div class="atk-wrapper atk-align-center">
            <h2 class="atk-push text-darkblue">Ut laoreet pulvinar velit, non efficitur.</h2>
            <button class="atk-button-large atk-swatch-blue atk-col-4 button-pill">Action Button<span class="icon-arrow-east atk-size-nano"></span></button>
        </div>
    </section>
    <div class="atk-box">{$italic_1_spot}</div>
    <div class="atk-box">{$two_columns_1_spot}</div>
    <div class="atk-box">{$quote_1_spot}</div>
</div>