<div id="{$_name}" class="page_{$_page}">
    <section>
        <div class="atk-wrapper atk-section-xlarge">
            <div class="atk-align-center">
                <h1>Meet Our Team</h1>
                <hr class="hr-short atk-col-1 atk-move-center">
                {$paragraph_mega_spot}
                <div class="atk-row atk-grid atk-grid-gutter-xsmall team-members">
                    <figure class="atk-col-2 team-member"><img src="{$public}images/team/team-1.jpg" class="atk-expand">
                        <figcaption class="atk-swatch-blue atk-cells">
                            <div class="atk-cell atk-valign-bottom">
                                <div class="atk-text-bold atk-push-xsmall">Rihards<br>Jekabsons</div>Job Position
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="atk-col-2 team-member"><img src="{$public}images/team/team-2.jpg" class="atk-expand">
                        <figcaption class="atk-swatch-blue atk-cells">
                            <div class="atk-cell atk-valign-bottom">
                                <div class="atk-text-bold atk-push-xsmall">Rihards<br>Jekabsons</div>Job Position
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="atk-col-2 team-member"><img src="{$public}images/team/team-3.jpg" class="atk-expand">
                        <figcaption class="atk-swatch-blue atk-cells">
                            <div class="atk-cell atk-valign-bottom">
                                <div class="atk-text-bold atk-push-xsmall">Rihards<br>Jekabsons</div>Job Position
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="atk-col-2 team-member"><img src="{$public}images/team/team-4.jpg" class="atk-expand">
                        <figcaption class="atk-swatch-blue atk-cells">
                            <div class="atk-cell atk-valign-bottom">
                                <div class="atk-text-bold atk-push-xsmall">Rihards<br>Jekabsons</div>Job Position
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="atk-col-2 team-member"><img src="{$public}images/team/team-5.jpg" class="atk-expand">
                        <figcaption class="atk-swatch-blue atk-cells">
                            <div class="atk-cell atk-valign-bottom">
                                <div class="atk-text-bold atk-push-xsmall">Rihards<br>Jekabsons</div>Job Position
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="atk-col-2 team-member"><img src="{$public}images/team/team-6.jpg" class="atk-expand">
                        <figcaption class="atk-swatch-blue atk-cells">
                            <div class="atk-cell atk-valign-bottom">
                                <div class="atk-text-bold atk-push-xsmall">Rihards<br>Jekabsons</div>Job Position
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="atk-col-2 team-member"><img src="{$public}images/team/team-7.jpg" class="atk-expand">
                        <figcaption class="atk-swatch-blue atk-cells">
                            <div class="atk-cell atk-valign-bottom">
                                <div class="atk-text-bold atk-push-xsmall">Rihards<br>Jekabsons</div>Job Position
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="atk-col-2 team-member"><img src="{$public}images/team/team-8.jpg" class="atk-expand">
                        <figcaption class="atk-swatch-blue atk-cells">
                            <div class="atk-cell atk-valign-bottom">
                                <div class="atk-text-bold atk-push-xsmall">Rihards<br>Jekabsons</div>Job Position
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="atk-col-2 team-member"><img src="{$public}images/team/team-9.jpg" class="atk-expand">
                        <figcaption class="atk-swatch-blue atk-cells">
                            <div class="atk-cell atk-valign-bottom">
                                <div class="atk-text-bold atk-push-xsmall">Rihards<br>Jekabsons</div>Job Position
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="atk-col-2 team-member"><img src="{$public}images/team/team-10.jpg" class="atk-expand">
                        <figcaption class="atk-swatch-blue atk-cells">
                            <div class="atk-cell atk-valign-bottom">
                                <div class="atk-text-bold atk-push-xsmall">Rihards<br>Jekabsons</div>Job Position
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="atk-col-2 team-member"><img src="{$public}images/team/team-11.jpg" class="atk-expand">
                        <figcaption class="atk-swatch-blue atk-cells">
                            <div class="atk-cell atk-valign-bottom">
                                <div class="atk-text-bold atk-push-xsmall">Rihards<br>Jekabsons</div>Job Position
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="atk-col-2 team-member"><img src="{$public}images/team/team-12.jpg" class="atk-expand">
                        <figcaption class="atk-swatch-blue atk-cells">
                            <div class="atk-cell atk-valign-bottom">
                                <div class="atk-text-bold atk-push-xsmall">Rihards<br>Jekabsons</div>Job Position
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="atk-col-2 team-member"><img src="{$public}images/team/team-13.jpg" class="atk-expand">
                        <figcaption class="atk-swatch-blue atk-cells">
                            <div class="atk-cell atk-valign-bottom">
                                <div class="atk-text-bold atk-push-xsmall">Rihards<br>Jekabsons</div>Job Position
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="atk-col-2 team-member"><img src="{$public}images/team/team-14.jpg" class="atk-expand">
                        <figcaption class="atk-swatch-blue atk-cells">
                            <div class="atk-cell atk-valign-bottom">
                                <div class="atk-text-bold atk-push-xsmall">Rihards<br>Jekabsons</div>Job Position
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="atk-col-2 team-member"><img src="{$public}images/team/team-15.jpg" class="atk-expand">
                        <figcaption class="atk-swatch-blue atk-cells">
                            <div class="atk-cell atk-valign-bottom">
                                <div class="atk-text-bold atk-push-xsmall">Rihards<br>Jekabsons</div>Job Position
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="atk-col-2 team-member"><img src="{$public}images/team/team-16.jpg" class="atk-expand">
                        <figcaption class="atk-swatch-blue atk-cells">
                            <div class="atk-cell atk-valign-bottom">
                                <div class="atk-text-bold atk-push-xsmall">Rihards<br>Jekabsons</div>Job Position
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="atk-col-2 team-member"><img src="{$public}images/team/team-17.jpg" class="atk-expand">
                        <figcaption class="atk-swatch-blue atk-cells">
                            <div class="atk-cell atk-valign-bottom">
                                <div class="atk-text-bold atk-push-xsmall">Rihards<br>Jekabsons</div>Job Position
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="atk-col-2 team-member"><img src="{$public}images/team/team-18.jpg" class="atk-expand">
                        <figcaption class="atk-swatch-blue atk-cells">
                            <div class="atk-cell atk-valign-bottom">
                                <div class="atk-text-bold atk-push-xsmall">Rihards<br>Jekabsons</div>Job Position
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="atk-col-2 team-member"><img src="{$public}images/team/team-19.jpg" class="atk-expand">
                        <figcaption class="atk-swatch-blue atk-cells">
                            <div class="atk-cell atk-valign-bottom">
                                <div class="atk-text-bold atk-push-xsmall">Rihards<br>Jekabsons</div>Job Position
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="atk-col-2 team-member"><img src="{$public}images/team/team-20.jpg" class="atk-expand">
                        <figcaption class="atk-swatch-blue atk-cells">
                            <div class="atk-cell atk-valign-bottom">
                                <div class="atk-text-bold atk-push-xsmall">Rihards<br>Jekabsons</div>Job Position
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="atk-col-2 team-member"><img src="{$public}images/team/team-21.jpg" class="atk-expand">
                        <figcaption class="atk-swatch-blue atk-cells">
                            <div class="atk-cell atk-valign-bottom">
                                <div class="atk-text-bold atk-push-xsmall">Rihards<br>Jekabsons</div>Job Position
                            </div>
                        </figcaption>
                    </figure>
                    <div class="atk-col-6 atk-cells">
                        <div class="atk-swatch-gray atk-cell team-member-join">
                            <h3 class="atk-text-medium"><a href="javascript:void(0)" class="atk-cells atk-cells-gutter-xsmall atk-move-center">
                                <div class="atk-cell">Join our team</div>
                                <div class="atk-cell"><span class="icon-arrow-east atk-size-nano atk-block"></span></div></a></h3>
                            <p class="atk-text-dimmed">We are always hiring.</p>
                        </div>
                    </div>
                </div>
                <hr class="atk-hr-xlarge">
                <div class="atk-row">
                    <div class="atk-col-6">
                        <div class="atk-cells"><a style="background-image:url(images/action-bg-test.png" class="atk-cell atk-swatch-blue further-action atk-text-baseline-reset"><span class="icon-aim atk-size-yotta"></span>
                            <h3 class="atk-text-medium">What is Scandic Fusion?</h3></a></div>
                    </div>
                    <div class="atk-col-6">
                        <div class="atk-cells"><a class="atk-cell atk-swatch-blue further-action atk-text-baseline-reset"><span class="icon-aim atk-size-yotta"></span>
                            <h3 class="atk-text-medium">Get in touch</h3></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {$Content}
</div>