H1 About Scandic Fusion CMS
p
    | This custom-made content management system was created specifically for
    | the requirements of www.scandicfussion.com by&nbsp;
    a(href="http://www.agile55.com/" target="_blank") Agile55.com
    |.

H2 Watch a Getting Started video
