doc/dbupdates/*.ok
doc/dbupdates/*.fail
.htaccess
.*swp
*.bak
.DS_Store
config.php
config-db.php
deploy-config.php
composer.phar
/vendor/*
/atk4
/atk4-addons
/.idea/workspace.xml
/.idea
logs
phpunit
doctrine-migrations.phar
migrations-db.php
phinx
phinx.yml
