
<ul id="{$_name}" style="{$style}" class="{$class} atk-menu-vertical atk-popover atk-popover-top-right">
  {Content}
  {Title}
  <li id="{$_name}" class="atk-padding-small atk-size-kilo {$class}">{$Content}</li>{/Title}
  {Item}
  <li class="atk-menu-separated">
      <a class="{$class} atk-padding atk-section-small atk-swatch-blue" id="{$_name}" href="{url}javascript:void(0){/}" {$attributes}>
          {$icon}{$Content}
      </a>
  </li>{/Item}
  {Menu}
  <li id="{$_name}" class="{$li-class}"><a href="javascript:void(0)" class="atk-padding-small atk-cells {$class}"><span class="atk-cell atk-jackscrew">{$icon}&nbsp;<strong>{$Content}</strong></span><span class="atk-cell"><span class="icon-right-dir"></span></span></a>{$SubMenu}</li>{/Menu}
  {Separator}
  <li>
    <hr/>
  </li>{/Separator}
  {/}
    <div class="atk-popover-arrow atk-swatch-blue"></div>
</ul>