section
  .timeline.atk-wrapper.atk-section-xlarge
    h2.atk-align-center.atk-push-large.text-bodycolor Company History
    .year-block.atk-align-center.atk-size-milli
      .year.atk-padding-xsmall.atk-inline.atk-col-1.atk-text-medium {$this_year}
    {Timeline}{rows}{row}
    .year-block.atk-align-center.atk-size-milli
      .event
        .atk-box-small.atk-swatch-blue.atk-col-4.atk-align-left.atk-inline
          ul {$content}
        .mark.atk-shape-circle
      .year.atk-padding-xsmall.atk-inline.atk-col-1.atk-text-medium {$year}
    {/}{/}{/}
hr.atk-hr-reset
{AboutContent}AboutContent{/AboutContent}        

  
{$ActionsWithIcons}
