section
  .timeline.atk-wrapper.atk-section-xlarge
    h2.atk-align-center.atk-push-large.text-bodycolor Company History
    .year-block.atk-align-center.atk-size-milli
      .year.atk-padding-xsmall.atk-inline.atk-col-1.atk-text-medium 2015
    .year-block.atk-align-center.atk-size-milli
      .event
        .atk-box-small.atk-swatch-blue.atk-col-4.atk-align-left.atk-inline
          ul
            li 18 active BI customers
            li Milestone of 25+ BI projects in total
        .mark.atk-shape-circle
      .year.atk-padding-xsmall.atk-inline.atk-col-1.atk-text-medium 2014
    .year-block.atk-align-center.atk-size-milli
      .event
        .atk-box-small.atk-swatch-blue.atk-col-4.atk-align-left.atk-inline
          ul
            li Eagerly helping Latvian companies prepare for migration from LVL to EUR
            li First development projects in the Nordics 13 active BI customers
            li Milestone of 20+ BI projects in total Data mining is used by first customers
        .mark.atk-shape-circle
      .year.atk-padding-xsmall.atk-inline.atk-col-1.atk-text-medium 2013
    .year-block.atk-align-center.atk-size-milli
      .event
        .atk-box-small.atk-swatch-blue.atk-col-4.atk-align-left.atk-inline
          ul
            li Another real-time DWH/BI project goes live
            li 12 active BI customers
            li Mobile BI solutions is actively used by first customers
        .mark.atk-shape-circle
      .year.atk-padding-xsmall.atk-inline.atk-col-1.atk-text-medium 2012
    .year-block.atk-align-center.atk-size-milli
      .event
        .atk-box-small.atk-swatch-blue.atk-col-4.atk-align-left.atk-inline
          ul
            li First major real-time DWH/BI project goes live 11 active BI customers
            li Milestone of 15 BI projects in total
        .mark.atk-shape-circle
      .year.atk-padding-xsmall.atk-inline.atk-col-1.atk-text-medium 2011
    .year-block.atk-align-center.atk-size-milli
      .event
        .atk-box-small.atk-swatch-blue.atk-col-4.atk-align-left.atk-inline
          ul
            li 9 active BI customers
            li Milestone of 10 BI projects in total
        .mark.atk-shape-circle
      .year.atk-padding-xsmall.atk-inline.atk-col-1.atk-text-medium 2010
    .year-block.atk-align-center.atk-size-milli
      .event
        .atk-box-small.atk-swatch-blue.atk-col-4.atk-align-left.atk-inline
          ul
            li 4 active BI customers
            li Milestone of 5 BI projects in total
        .mark.atk-shape-circle
      .year.atk-padding-xsmall.atk-inline.atk-col-1.atk-text-medium 2009
    .year-block.atk-align-center.atk-size-milli
      .event
        .atk-box-small.atk-swatch-blue.atk-col-4.atk-align-left.atk-inline
          ul
            li Working hard on establishing the reputation in the Latvian market
            li 3 active BI customers
        .mark.atk-shape-circle
      .year.atk-padding-xsmall.atk-inline.atk-col-1.atk-text-medium 2008
    .year-block.atk-align-center.atk-size-milli
      .event
        .atk-box-small.atk-swatch-blue.atk-col-4.atk-align-left.atk-inline
          ul
            li Beginning of the wonderful journey in BI world – starting with 2 first customers
        .mark.atk-shape-circle
      .year.atk-padding-xsmall.atk-inline.atk-col-1.atk-text-medium 2007
hr.atk-hr-reset
section.atk-wrapper.testimonials
  .atk-section-xlarge.atk-align-center
    h2.atk-push-large.text-bodycolor What Our Clients Say?
    .testimonial-carousel
      .testimonial-carousel-mask
        article.testimonial.atk-col-8.atk-move-center
          .atk-box-large.atk-border-overlay.atk-push-large
            | “Working with Scandic Fusion is a great professional experience: both in terms of quality of delivered service and in terms of communication between our companies. The industry Bosch in the Baltics works in is constantly evolving; therefore, we need flexibility and complex technical solutions from our suppliers. During one year of successful cooperation with Scandic Fusion we implemented core business analysis, cost allocation solution and budgeting solution. There are also several ongoing projects, and we are looking forward to continuing our successful partnership.”
            .testimonial-arrow
            .atk-shape-circle.atk-box-small.atk-swatch-blue.atk-shape-rounded.atk-size-giga.atk-inline.atk-text-baseline-reset
              .icon-quotes
          .testimonial-author
            .atk-push-small
              img(src="images/logo-bosch.svg", height="40").atk-inline
           .atk-size-kilo Olga Pleyer
           .atk-size-milli.atk-text-dimmed CEO, BOSCH Baltics
        article.testimonial.atk-col-8.atk-move-center
          .atk-box-large.atk-border-overlay.atk-push-large
            | “Working with Scandic Fusion is a great professional experience: both in terms of quality of delivered service and in terms of communication between our companies. The industry Bosch in the Baltics works in is constantly evolving; therefore, we need flexibility and complex technical solutions from our suppliers. During one year of successful cooperation with Scandic Fusion we implemented core business analysis, cost allocation solution and budgeting solution.”
            .testimonial-arrow
            .atk-shape-circle.atk-box-small.atk-swatch-blue.atk-shape-rounded.atk-size-giga.atk-inline.atk-text-baseline-reset
              .icon-quotes
          .testimonial-author
            .atk-push-small
              img(src="images/logo-bosch.svg", height="40").atk-inline
           .atk-size-kilo Olga Pleyer
           .atk-size-milli.atk-text-dimmed CEO, BOSCH Baltics
        article.testimonial.atk-col-8.atk-move-center
          .atk-box-large.atk-border-overlay.atk-push-large
            | “Working with Scandic Fusion is a great professional experience: both in terms of quality of delivered service and in terms of communication between our companies. The industry Bosch in the Baltics works in is constantly evolving; therefore, we need flexibility and complex technical solutions from our suppliers. During one year of successful cooperation with Scandic Fusion we implemented core business analysis, cost allocation solution and budgeting solution. There are also several ongoing projects, and we are looking forward to continuing our successful partnership.”
            .testimonial-arrow
            .atk-shape-circle.atk-box-small.atk-swatch-blue.atk-shape-rounded.atk-size-giga.atk-inline.atk-text-baseline-reset
              .icon-quotes
          .testimonial-author
            .atk-push-small
              img(src="images/logo-bosch.svg", height="40").atk-inline
           .atk-size-kilo Olga Pleyer
           .atk-size-milli.atk-text-dimmed CEO, BOSCH Baltics
hr.atk-hr-reset
section.atk-wrapper
  .atk-section-xlarge
    .atk-row
      .atk-col-6
          .atk-cells
              a.atk-cell.atk-swatch-lightGray.atk-shape-rounded.further-action.atk-text-baseline-reset.atk-align-center(href="javascript:void(0)")
                span.icon-team.atk-size-pow9.atk-inline.atk-push-small
                .atk-size-mega.atk-text-medium Get to Know Us

      .atk-col-6
          .atk-cells
              a.atk-cell.atk-swatch-lightGray.atk-shape-rounded.further-action.atk-text-baseline-reset.atk-align-center(href="javascript:void(0)")
                span.icon-user-network-fix
                  span.icon-user-network.atk-size-pow10.atk-inline.atk-push-small.main
                  span.icon-user-network.atk-size-pow9.atk-inline.atk-push-small.hidden
                .atk-size-mega.atk-text-medium Join Our Team
