
<section>
  <div class="timeline atk-wrapper atk-section-xlarge">
    <h2 class="atk-align-center atk-push-large text-bodycolor">Company History</h2>
    <div class="year-block atk-align-center atk-size-milli">
      <div class="year atk-padding-xsmall atk-inline atk-col-1 atk-text-medium">{$this_year}</div>
    </div>{Timeline}{rows}{row}
    <div class="year-block atk-align-center atk-size-milli">
      <div class="event">
        <div class="atk-box-small atk-swatch-blue atk-col-4 atk-align-left atk-inline">
          <ul>{$content}</ul>
        </div>
        <div class="mark atk-shape-circle"></div>
      </div>
      <div class="year atk-padding-xsmall atk-inline atk-col-1 atk-text-medium">{$year}</div>
    </div>{/}{/}{/}
  </div>
</section>
<hr class="atk-hr-reset"/>{AboutContent}AboutContent{/AboutContent}        
{$ActionsWithIcons}