
<section>
  <div class="timeline atk-wrapper atk-section-xlarge">
    <h2 class="atk-align-center atk-push-large text-bodycolor">Company History</h2>
    <div class="year-block atk-align-center atk-size-milli">
      <div class="year atk-padding-xsmall atk-inline atk-col-1 atk-text-medium">{$this_year}</div>
    </div>{Timeline}{rows}{row}
    <div class="year-block atk-align-center atk-size-milli">
      <div class="event">
        <div class="atk-box-small atk-swatch-blue atk-col-4 atk-align-left atk-inline">
          <ul>{$content}</ul>
        </div>
        <div class="mark atk-shape-circle"></div>
      </div>
      <div class="year atk-padding-xsmall atk-inline atk-col-1 atk-text-medium">{$year}</div>
    </div>{/}{/}{/}
  </div>
</section>
<hr class="atk-hr-reset"/>
<section class="atk-wrapper testimonials">
  <div class="atk-section-xlarge atk-align-center">
    <h2 class="atk-push-large text-bodycolor">What Our Clients Say?</h2>
    <div class="testimonial-carousel">
      <div class="testimonial-carousel-mask">{Testimonials}{rows}{row}
        <article class="testimonial atk-col-8 atk-move-center">
          <div class="atk-box-large atk-border-overlay atk-push-large">“{$content}”
            <div class="testimonial-arrow"></div>
            <div class="atk-shape-circle atk-box-small atk-swatch-blue atk-shape-rounded atk-size-giga atk-inline atk-text-baseline-reset">
              <div class="icon-quotes"></div>
            </div>
          </div>
          <div class="testimonial-author">
            <div class="atk-push-small"><img src="images/client/{$logo}" height="40" class="atk-inline"/></div>
          </div>
          <div class="atk-size-kilo">{$name}
            <div class="atk-size-milli atk-text-dimmed">{$position}</div>
          </div>
        </article>{/}{/}{/}
      </div>
    </div>
  </div>
</section>{$ActionsWithIcons}