section
  .timeline.atk-wrapper.atk-section-xlarge
    h2.atk-align-center.atk-push-large.text-bodycolor Company History
    .year-block.atk-align-center.atk-size-milli
      {Timeline}{rows}{row}
      .year.atk-padding-xsmall.atk-inline.atk-col-1.atk-text-medium {$year}
    .year-block.atk-align-center.atk-size-milli
      .event
        .atk-box-small.atk-swatch-blue.atk-col-4.atk-align-left.atk-inline
          ul {$content}
        .mark.atk-shape-circle
      {/}{/}{/}
      .year.atk-padding-xsmall.atk-inline.atk-col-1.atk-text-medium 2007
hr.atk-hr-reset
section.atk-wrapper.testimonials
  .atk-section-xlarge.atk-align-center
    h2.atk-push-large.text-bodycolor What Our Clients Say?
    .testimonial-carousel
      .testimonial-carousel-mask
        {Testimonials}{rows}{row}
        article.testimonial.atk-col-8.atk-move-center
          .atk-box-large.atk-border-overlay.atk-push-large
            | “{$content}”
            .testimonial-arrow
            .atk-shape-circle.atk-box-small.atk-swatch-blue.atk-shape-rounded.atk-size-giga.atk-inline.atk-text-baseline-reset
              .icon-quotes
          .testimonial-author
            .atk-push-small
              img(src="images/{$logo}", height="40").atk-inline
           .atk-size-kilo {$name}
           .atk-size-milli.atk-text-dimmed {$position}
        {/}{/}{/}
{$ActionsWithIcons}
