section
  //- .timeline.atk-wrapper.atk-section-xlarge
  //-   h2.atk-align-center.atk-push-large.text-bodycolor Company History
  //-   .year-block.atk-align-center.atk-size-milli
  //-     .year.atk-padding-xsmall.atk-inline.atk-col-1.atk-text-medium {$this_year}
    //- {Timeline}{rows}{row}
    //- .year-block.atk-align-center.atk-size-milli
    //-   .event
    //-     .atk-box-small.atk-swatch-blue.atk-col-4.atk-align-left.atk-inline
    //-       ul {$content}
    //-     .mark.atk-shape-circle
    //-   .year.atk-padding-xsmall.atk-inline.atk-col-1.atk-text-medium {$year}
    //- {/}{/}{/}
hr.atk-hr-reset
section.atk-wrapper.testimonials
  .atk-section-xlarge.atk-align-center
    h2.atk-push-large.text-bodycolor {title}What Our Clients Say?{/}
    {Testimonials}
    {rows}{row}
    .testimonial-carousel
      article.testimonial.atk-col-8.atk-move-center
            .atk-box-large.atk-border-overlay.atk-push-large
              .testimonial-author.atk-push-large
                .atk-row(style="margin:auto;width: 85%")
                  .atk-col-4(style="border-left:0px solid rgba(0, 0, 0, 0)")
                    img(src="images/client/{$logo}", height="40").atk-inline
                  .atk-col-8(style="border-left:0px solid rgba(0, 0, 0, 0)")
                    .atk-size-kilo {$name}
                    .atk-size-milli.atk-text-dimmed {$position}
              | “{$content}”
              //- .testimonial-arrow
              .atk-shape-circle.atk-box-small.atk-swatch-blue.atk-shape-rounded.atk-size-giga.atk-inline.atk-text-baseline-reset
                .icon-quotes

              //- .atk-shape-circle.atk-box-small.atk-swatch-blue.atk-shape-rounded.atk-size-giga.atk-inline.atk-text-baseline-reset
              //-   .icon-quotes
    {/}{/}{/}
//- section.atk-wrapper.testimonials
//-   .atk-section-xlarge.atk-align-center
//-     h2.atk-push-large.text-bodycolor {title}What Our Clients Say?{/}
//-     .testimonial-carousel
//-       .testimonial-carousel-mask
//-         {Testimonials}{rows}{row}
//-         article.testimonial.atk-col-8.atk-move-center
//-           .atk-box-large.atk-border-overlay.atk-push-large
//-             | “{$content}”
//-             .testimonial-arrow
//-             .atk-shape-circle.atk-box-small.atk-swatch-blue.atk-shape-rounded.atk-size-giga.atk-inline.atk-text-baseline-reset
//-               .icon-quotes
//-           .testimonial-author
//-             .atk-push-small
//-               img(src="images/client/{$logo}", height="40").atk-inline
//-            .atk-size-kilo {$name}
//-            .atk-size-milli.atk-text-dimmed {$position}
//-         {/}{/}{/}
hr.atk-hr-reset
section.atk-wrapper.atk-push-xlarge
  .client-logo-section.atk-align-center
    {ClientLogo}{rows}{row}
    span.client-logo
      .atk-push-small
        img(src="{$client_logo}", height="20").atk-inline
      .atk-size-kilo {$name}
      .atk-size-milli.atk-text-dimmed {$position}
    {/}{/}{/}        
{$ActionsWithIcons}

