include includes/doctype
html(class='no-js')
  <!--<![endif]-->
  include includes/head
  body
    include includes/browsehappy
    include includes/analytics
    .atk-layout
      include includes/header
      .atk-layout-row.atk-layout-expand
        .atk-layout.atk-layout-cell#atk-layout-content
          .atk-layout-column.atk-layout-fluid
            section.atk-wrapper
              .atk-row
                .atk-col-4.sidebar
                  aside.atk-swatch-blue.atk-section-large
                    ul.atk-menu-vertical
                      li.atk-menu-separated.active
                        a.atk-padding.atk-swatch-blue.atk-actions.atk-text-medium(href="javascript:void(0)")
                          span.atk-cells.atk-cells-gutter
                            span.atk-cell
                              span.icon-aim.atk-size-kilo
                            span.atk-cell.atk-expand
                              | Management Accounting
                      li.atk-menu-separated
                        a.atk-padding.atk-swatch-blue.atk-actions.atk-text-medium(href="javascript:void(0)")
                          span.atk-cells.atk-cells-gutter
                            span.atk-cell
                              span.icon-chart.atk-size-kilo
                            span.atk-cell.atk-expand
                              | KPI Engine
                      li.atk-menu-separated
                        a.atk-padding.atk-swatch-blue.atk-actions.atk-text-medium(href="javascript:void(0)")
                          span.atk-cells.atk-cells-gutter
                            span.atk-cell
                              span.icon-maintenance.atk-size-kilo
                            span.atk-cell.atk-expand
                              | Customer &amp; Product Portfolio Analysis
                      li.atk-menu-separated
                        a.atk-padding.atk-swatch-blue.atk-actions.atk-text-medium(href="javascript:void(0)")
                          span.atk-cells.atk-cells-gutter
                            span.atk-cell
                              span.icon-scale.atk-size-kilo
                            span.atk-cell.atk-expand
                              | Billing &amp; Credit Control
                      li.atk-menu-separated
                        a.atk-padding.atk-swatch-blue.atk-actions.atk-text-medium(href="javascript:void(0)")
                          span.atk-cells.atk-cells-gutter
                            span.atk-cell
                              span.icon-scale.atk-size-kilo
                            span.atk-cell.atk-expand
                              | CF Forecasting Solution
                      li.atk-menu-separated
                        a.atk-padding.atk-swatch-blue.atk-actions.atk-text-medium(href="javascript:void(0)")
                          span.atk-cells.atk-cells-gutter
                            span.atk-cell
                              span.icon-scale.atk-size-kilo
                            span.atk-cell.atk-expand
                              | Marketing &amp; Sales Performance Analysis
                      li.atk-menu-separated
                        a.atk-padding.atk-swatch-blue.atk-actions.atk-text-medium(href="javascript:void(0)")
                          span.atk-cells.atk-cells-gutter
                            span.atk-cell
                              span.icon-scale.atk-size-kilo
                            span.atk-cell.atk-expand
                              | Call Center Analysis
                      li.atk-menu-separated
                        a.atk-padding.atk-swatch-blue.atk-actions.atk-text-medium(href="javascript:void(0)")
                          span.atk-cells.atk-cells-gutter
                            span.atk-cell
                              span.icon-scale.atk-size-kilo
                            span.atk-cell.atk-expand
                              | Master Data Management
                      li.atk-menu-separated
                        a.atk-padding.atk-swatch-blue.atk-actions.atk-text-medium(href="javascript:void(0)")
                          span.atk-cells.atk-cells-gutter
                            span.atk-cell
                              span.icon-scale.atk-size-kilo
                            span.atk-cell.atk-expand
                              | Budgeting
                      li.atk-menu-separated
                        a.atk-padding.atk-swatch-blue.atk-actions.atk-text-medium(href="javascript:void(0)")
                          span.atk-cells.atk-cells-gutter
                            span.atk-cell
                              span.icon-scale.atk-size-kilo
                            span.atk-cell.atk-expand
                              | User Security Maintenance Solution
                    hr.atk-hr-reset
                    .atk-padding-large
                      a.atk-box-small.box-outline.atk-align-center(href="javascript:void(0)")
                        | Didn't find your
                        br
                        | industry here?
                .atk-col-8.atk-section-large.content
                  section.atk-push-large
                    h1 Management Accounting
                    hr.hr-short.atk-col-1
                    p.atk-size-mega.atk-text-light 
                     em Scandic Fusion offers management accounting solution which presents Profit &amp; Loss and Balance Sheet in much more interactive way than just a plain report in size of A4.
                    p Interactive dashboards can be used centrally (top management) and decentrally (middle management, product owners). Each user can see as much as he/she is allowed to see because of easily configurable security. Information is presented nicely via tables and charts, allowing step by step navigation to details.
                    p Solution is used by companies, which constantly want to follow revenue/cost positions, benchmark those against forecasted/budgeted/year ago and drill down to details of accounting transaction (and its source document details).
                    p Solution enables PL and BS consolidation (if intercompany transactions exist), one or several reporting currencies (important if legal units are located in different currency zones), adds on top of any accounting system (actual amounts are calculated using general ledger) and budgeting solution.
                    p Cost allocation component performs automatic split of overhead and indirect costs that prepares managerial insight of product/service/department net profitability.
                    p Budgeting component can be handy in cases when company does not have central budgeting/ forecasting application.
                    p Analytical facts provide options to pre-calculate measures, e.g., month ago, year ago, year-to-date, rolling-12, actual vs. budget, actual vs. forecast, actual/forecast vs. budget.
                  hr.atk-hr-large
                  section.atk-align-center
                    h3.atk-push.text-bodycolor Do you have any questions about our work?
                    button.atk-button-large.atk-swatch-blue.atk-col-6.button-pill.atk-size-milli
                      | CONTACT US
                      span.icon-arrow-east.atk-size-nano

    include includes/scripts
