include includes/doctype
html(class='no-js')
  <!--<![endif]-->
  include includes/head
  body
    include includes/browsehappy
    include includes/analytics
    .atk-layout
      include includes/header
      .atk-layout-row.atk-layout-expand
        .atk-layout.atk-layout-cell#atk-layout-content
          .atk-layout-column.atk-layout-fluid
            section.services-header
              .atk-wrapper.atk-section-xlarge
                .atk-col-7
                  h1 Industry Solutions
                  hr.hr-short.atk-col-1
                  p.atk-size-mega.atk-text-light
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget justo eget nisl mattis posuere eu ut neque. Aenean congue mollis est, ac viverra mauris bibendum et.
                .services-graphics.globe
            section.atk-swatch-blue.services-selection
              .atk-wrapper
                .atk-cells-group.atk-cells-justified.atk-expand.atk-align-center.atk-valign-top
                  .atk-cells
                    a.atk-cell.atk-section-large.atk-padding.atk-swatch-blue(href='javascript:void(0)')
                      .icon-aim.atk-push.atk-size-yotta.atk-text-baseline-reset
                      strong Insurance
                    a.atk-cell.atk-section-large.atk-padding.atk-swatch-blue(href='javascript:void(0)')
                      .icon-chart.atk-push.atk-size-yotta.atk-text-baseline-reset
                      strong Banking
                    a.atk-cell.atk-section-large.atk-padding.atk-swatch-blue(href='javascript:void(0)')
                      .icon-maintenance.atk-push.atk-size-yotta.atk-text-baseline-reset
                      strong Payment Cards
                    a.atk-cell.atk-section-large.atk-padding.atk-swatch-blue(href='javascript:void(0)')
                      .icon-scale.atk-push.atk-size-yotta.atk-text-baseline-reset
                      strong Healthcare
                  .atk-cells
                    a.atk-cell.atk-section-large.atk-padding.atk-swatch-blue(href='javascript:void(0)')
                      .icon-clipboard.atk-push.atk-size-yotta.atk-text-baseline-reset
                      strong Energy
                    a.atk-cell.atk-section-large.atk-padding.atk-swatch-blue(href='javascript:void(0)')
                      .icon-clipboard.atk-push.atk-size-yotta.atk-text-baseline-reset
                      strong Manufacturing
                    a.atk-cell.atk-section-large.atk-padding.atk-swatch-blue(href='javascript:void(0)')
                      .icon-clipboard.atk-push.atk-size-yotta.atk-text-baseline-reset
                      strong Wholesale
                    a.atk-cell.atk-section-large.atk-padding.atk-swatch-blue(href='javascript:void(0)')
                      .icon-clipboard.atk-push.atk-size-yotta.atk-text-baseline-reset
                      strong Telecom {DGR}
                  .atk-cells
                    a.atk-cell.atk-section-large.atk-padding.atk-swatch-blue(href='javascript:void(0)')
                      .icon-clipboard.atk-push.atk-size-yotta.atk-text-baseline-reset
                      strong Mini-crediting
                    a.atk-cell.atk-section-large.atk-padding.atk-swatch-blue(href='javascript:void(0)')
                      .icon-clipboard.atk-push.atk-size-yotta.atk-text-baseline-reset
                      strong Forestry
                    a.atk-cell.atk-section-large.atk-padding.atk-swatch-blue(href='javascript:void(0)')
                      .icon-clipboard.atk-push.atk-size-yotta.atk-text-baseline-reset
                      strong Government Sector
                    a.atk-cell.atk-section-large.atk-padding.atk-swatch-blue(href='javascript:void(0)')
                      .icon-clipboard.atk-push.atk-size-yotta.atk-text-baseline-reset
                      strong Aviation
            include includes/calltoaction
    include includes/scripts