
<section class="atk-wrapper">
  <div class="atk-row">
    <div class="atk-col-4 sidebar">
      <aside class="atk-swatch-blue atk-section-large">
        <ul class="atk-menu-vertical">
          <li class="atk-menu-separated active"><a href="javascript:void(0)" class="atk-padding atk-swatch-blue atk-actions atk-text-medium"><span class="atk-cells atk-cells-gutter"><span class="atk-cell"><span class="icon-umbrella atk-size-kilo"></span></span><span class="atk-cell atk-expand">Insurance</span></span></a></li>
          <li class="atk-menu-separated"><a href="javascript:void(0)" class="atk-padding atk-swatch-blue atk-actions atk-text-medium"><span class="atk-cells atk-cells-gutter"><span class="atk-cell"><span class="icon-bank atk-size-kilo"></span></span><span class="atk-cell atk-expand">Banking</span></span></a></li>
          <li class="atk-menu-separated"><a href="javascript:void(0)" class="atk-padding atk-swatch-blue atk-actions atk-text-medium"><span class="atk-cells atk-cells-gutter"><span class="atk-cell"><span class="icon-cards atk-size-kilo"></span></span><span class="atk-cell atk-expand">Payment Cards</span></span></a></li>
          <li class="atk-menu-separated"><a href="javascript:void(0)" class="atk-padding atk-swatch-blue atk-actions atk-text-medium"><span class="atk-cells atk-cells-gutter"><span class="atk-cell"><span class="icon-heartbeat atk-size-kilo"></span></span><span class="atk-cell atk-expand">Healthcare</span></span></a></li>
          <li class="atk-menu-separated"><a href="javascript:void(0)" class="atk-padding atk-swatch-blue atk-actions atk-text-medium"><span class="atk-cells atk-cells-gutter"><span class="atk-cell"><span class="icon-bulb atk-size-kilo"></span></span><span class="atk-cell atk-expand">Energy</span></span></a></li>
          <li class="atk-menu-separated"><a href="javascript:void(0)" class="atk-padding atk-swatch-blue atk-actions atk-text-medium"><span class="atk-cells atk-cells-gutter"><span class="atk-cell"><span class="icon-factory atk-size-kilo"></span></span><span class="atk-cell atk-expand">Manufacturing</span></span></a></li>
          <li class="atk-menu-separated"><a href="javascript:void(0)" class="atk-padding atk-swatch-blue atk-actions atk-text-medium"><span class="atk-cells atk-cells-gutter"><span class="atk-cell"><span class="icon-warehouse atk-size-kilo"></span></span><span class="atk-cell atk-expand">Wholesale</span></span></a></li>
          <li class="atk-menu-separated"><a href="javascript:void(0)" class="atk-padding atk-swatch-blue atk-actions atk-text-medium"><span class="atk-cells atk-cells-gutter"><span class="atk-cell"><span class="icon-scale atk-size-kilo"></span></span><span class="atk-cell atk-expand">Retail</span></span></a></li>
          <li class="atk-menu-separated"><a href="javascript:void(0)" class="atk-padding atk-swatch-blue atk-actions atk-text-medium"><span class="atk-cells atk-cells-gutter"><span class="atk-cell"><span class="icon-tower atk-size-kilo"></span></span><span class="atk-cell atk-expand">Telecom</span></span></a></li>
          <li class="atk-menu-separated"><a href="javascript:void(0)" class="atk-padding atk-swatch-blue atk-actions atk-text-medium"><span class="atk-cells atk-cells-gutter"><span class="atk-cell"><span class="icon-banknotes atk-size-kilo"></span></span><span class="atk-cell atk-expand">Mini-crediting</span></span></a></li>
          <li class="atk-menu-separated"><a href="javascript:void(0)" class="atk-padding atk-swatch-blue atk-actions atk-text-medium"><span class="atk-cells atk-cells-gutter"><span class="atk-cell"><span class="icon-plane atk-size-kilo"></span></span><span class="atk-cell atk-expand">Aviation</span></span></a></li>
        </ul>
        <hr class="atk-hr-reset"/>
        <div class="atk-padding-large"><a href="javascript:void(0)" class="atk-box-small box-outline atk-align-center">Didn't find your<br/>industry here?</a></div>
      </aside>
    </div>
    <div class="atk-col-8 atk-section-large content">
      <section class="atk-push-large">
        <h1>Insurance</h1>
        <hr class="hr-short atk-col-1"/>
        <p>Scandic Fusion has experience with implementing solutions for both non-life and life insurance. Data marts enable product-specific insight of MTPL, KASKO, property, travel, accident, health and civil liability insurance types.</p>
        <p>Analytical facts include relevant measures, e.g. gross written premiums, earned/unearned premiums by dates, total claims amount, loss ratio, regulated-unpaid, potential payments outstanding, and various reserves by dates.</p>
      </section>
      <section class="feature-breakdown">
        <div class="atk-cells atk-cells-gutter">
          <div class="atk-cell atk-col-6 atk-valign-top">
            <div class="atk-box atk-border-active box-corner">
              <h4>Policies Claims</h4>
              <div class="corner"></div>
              <ul class="atk-size-milli">
                <li>Gross written premiums</li>
                <li>Unused premium reserves</li>
                <li>RBNS reserves</li>
                <li>Payouts</li>
                <li>Detaliziation to risk premiumsand insurance type</li>
                <li>Calculated amounts (derived KPIs)</li>
                <li>Sales budgets</li>
              </ul>
            </div>
            <div class="atk-box atk-border-active box-corner">
              <h4>Actuaries</h4>
              <div class="corner"></div>
              <ul class="atk-size-milli">
                <li>Solvency II</li>
                <li>Insured amounts detalization on risk &amp; insurance type levels</li>
              </ul>
            </div>
            <div class="atk-box atk-border-active box-corner">
              <h4>Reinsurance</h4>
              <div class="corner"></div>
              <ul class="atk-size-milli">
                <li>Profitability</li>
                <li>Risk profiles</li>
                <li>Reinsurance contracts</li>
              </ul>
            </div>
            <div class="atk-box atk-border-active box-corner">
              <h4>Insurance Debtors or Creditors</h4>
              <div class="corner"></div>
              <ul class="atk-size-milli">
                <li>Policy payment tracking by schedule</li>
                <li>Intermediary outstanding</li>
              </ul>
            </div>
          </div>
          <div class="atk-cell atk-col-6 atk-valign-top">
            <div class="atk-box atk-border-active box-corner">
              <h4>Accumulated Capital for Life Insurance</h4>
              <div class="corner"></div>
              <ul class="atk-size-milli">
                <li>Investment analysis</li>
                <li>Accumalated capital history tracking</li>
                <li>RBNS reserves</li>
                <li>Payouts</li>
                <li>Detaliziation to risk premiumsand insurance type</li>
                <li>Calculated amounts (derived KPIs)</li>
                <li>Sales budgets</li>
              </ul>
            </div>
            <div class="atk-box atk-border-active box-corner">
              <h4>Insurance Capitals</h4>
              <div class="corner"></div>
              <ul class="atk-size-milli">
                <li>Client segmentation</li>
                <li>Unique clients indetification</li>
              </ul>
            </div>
            <div class="atk-box atk-border-active box-corner">
              <h4>Claims Management</h4>
              <div class="corner"></div>
              <ul class="atk-size-milli">
                <li>Activity monitoring</li>
                <li>Handling times</li>
                <li>Reserves and regresses</li>
              </ul>
            </div>
            <div class="atk-box atk-border-active box-corner">
              <h4>Insurance Market Analysis</h4>
              <div class="corner"></div>
              <ul class="atk-size-milli">
                <li>Policy counts and premiums</li>
                <li>Claim counts and payouts</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <hr class="atk-hr-large"/>
      <section class="atk-align-center">
        <h3 class="atk-push text-bodycolor">Do you have any questions about our work?</h3>
        <button class="atk-button-large atk-swatch-blue atk-col-6 button-pill atk-size-milli">CONTACT US<span class="icon-arrow-east atk-size-nano"></span></button>
      </section>
    </div>
  </div>
</section>