section.services-header
  .atk-wrapper.atk-section-xlarge
    .atk-col-7
      h1 {$title}
      hr.hr-short.atk-col-1
      p
        | {content}md{/}
    figure.sun.atk-hide-mobile
section.atk-swatch-blue.services-selection
  .atk-wrapper
    .atk-cells-group.atk-cells-justified.atk-expand.atk-align-center.atk-valign-top
      .atk-cells.atk-stack-mobile
        {SubMenu}{rows}{row}
        a.atk-cell.atk-section-large.atk-padding.atk-swatch-blue(href='{$page}')
          div(class="icon-{$icon}").atk-push.atk-size-yotta.atk-text-baseline-reset
          strong {$title}
        {/row}
        {/rows}{/SubMenu}

{$Action}
