
<section class="atk-wrapper">
  <div class="atk-row">
    <div class="atk-col-4 sidebar atk-hide-mobile">
      <aside class="atk-swatch-blue atk-section-large">
        <ul class="atk-menu-vertical">{SubMenu}{rows}{row}
          <li class="atk-menu-separated {$is_active}"><a href="{$page}" class="atk-padding atk-swatch-blue atk-actions atk-text-medium"><span class="atk-cells atk-cells-gutter"><span class="atk-cell"><span class="atk-size-kilo icon-{$icon}"></span></span><span class="atk-cell atk-expand">{$title}</span></span></a></li>{/row}
          {/rows}{/SubMenu}
        </ul>
        <hr class="atk-hr-reset"/>
        <div class="atk-padding-large"><a href="{page}contact{/}" class="atk-box-small box-outline atk-align-center">Didn't find your<br/>industry here?</a></div>
      </aside>
    </div>
    <div class="atk-col-8 atk-section-large content">
      <section class="atk-push-large">
        <h1>{$title}</h1>
        <hr class="hr-short atk-col-1"/>{content}md{/}
      </section>
      <section class="feature-breakdown">
        <div class="atk-cells atk-cells-gutter atk-stack-mobile">
          <div class="atk-cell atk-col-6 atk-valign-top">{Box_left}{rows}{row}
            <div class="atk-box atk-border-active box-corner">
              <h4>{$name}</h4>
              <div class="corner"></div>
              <ul class="atk-size-milli">{content}li{/}</ul>
            </div>{/row}
            {/rows}{/}
          </div>
          <div class="atk-cell atk-col-6 atk-valign-top">{Box_right}{rows}{row}
            <div class="atk-box atk-border-active box-corner">
              <h4>{$name}</h4>
              <div class="corner"></div>
              <ul class="atk-size-milli">{content}li{/}</ul>
            </div>{/row}
            {/rows}{/}
          </div>
        </div>
      </section>{$ActionInner}
    </div>
  </div>
</section>