section.atk-wrapper
  .atk-row
    .atk-col-4.sidebar.atk-hide-mobile
      aside.atk-swatch-blue.atk-section-large
        ul.atk-menu-vertical
          {SubMenu}{rows}{row}
          li.atk-menu-separated(class="{$is_active}")
            a.atk-padding.atk-swatch-blue.atk-actions.atk-text-medium(href="{$page}")
              span.atk-cells.atk-cells-gutter
                span.atk-cell
                  span.atk-size-kilo(class="icon-{$icon}")
                span.atk-cell.atk-expand
                  | {$title}
          {/row}
          {/rows}{/SubMenu}

        hr.atk-hr-reset
        .atk-padding-large
          a.atk-box-small.box-outline.atk-align-center(href="{page}contact{/}")
            | Didn't find your
            br
            | industry here?
    .atk-col-8.atk-section-large.content
      section.atk-push-large
        h1 {$title}
        hr.hr-short.atk-col-1
        p.atk-size-mega.atk-text-light
         em {$intro}
        {content}md{/}
        h2 Relevant areas of analysis
      section.feature-breakdown
        .atk-cells.atk-cells-gutter.atk-stack-mobile
          .atk-cell.atk-col-6.atk-valign-top
            {Box_left}{rows}{row}
            .atk-box.atk-border-active.box-corner
              h4 {$name}
              .corner
              ul.atk-size-milli
                {content}li{/}
            {/row}
            {/rows}{/}
          .atk-cell.atk-col-6.atk-valign-top
            {Box_right}{rows}{row}
            .atk-box.atk-border-active.box-corner
              h4 {$name}
              .corner
              ul.atk-size-milli
                {content}li{/}
            {/row}
            {/rows}{/}
      {$ActionInner}
