include includes/doctype
html(class='no-js')
  <!--<![endif]-->
  include includes/head
  body
    include includes/browsehappy
    include includes/analytics
    .atk-layout
      include includes/header
      .atk-layout-row.atk-layout-expand
        .atk-layout.atk-layout-cell#atk-layout-content
          .atk-layout-column.atk-layout-fluid
            section.atk-wrapper
              .atk-row
                .atk-col-4.sidebar
                  aside.atk-swatch-blue.atk-section-large
                    ul.atk-menu-vertical
                      li.atk-menu-separated.active
                        a.atk-padding.atk-swatch-blue.atk-actions.atk-text-medium(href="javascript:void(0)")
                          span.atk-cells.atk-cells-gutter
                            span.atk-cell
                              span.icon-aim.atk-size-kilo
                            span.atk-cell.atk-expand
                              | Insurance
                      li.atk-menu-separated
                        a.atk-padding.atk-swatch-blue.atk-actions.atk-text-medium(href="javascript:void(0)")
                          span.atk-cells.atk-cells-gutter
                            span.atk-cell
                              span.icon-chart.atk-size-kilo
                            span.atk-cell.atk-expand
                              | Banking
                      li.atk-menu-separated
                        a.atk-padding.atk-swatch-blue.atk-actions.atk-text-medium(href="javascript:void(0)")
                          span.atk-cells.atk-cells-gutter
                            span.atk-cell
                              span.icon-maintenance.atk-size-kilo
                            span.atk-cell.atk-expand
                              | Payment Cards
                      li.atk-menu-separated
                        a.atk-padding.atk-swatch-blue.atk-actions.atk-text-medium(href="javascript:void(0)")
                          span.atk-cells.atk-cells-gutter
                            span.atk-cell
                              span.icon-scale.atk-size-kilo
                            span.atk-cell.atk-expand
                              | Healthcare
                      li.atk-menu-separated
                        a.atk-padding.atk-swatch-blue.atk-actions.atk-text-medium(href="javascript:void(0)")
                          span.atk-cells.atk-cells-gutter
                            span.atk-cell
                              span.icon-scale.atk-size-kilo
                            span.atk-cell.atk-expand
                              | Energy
                      li.atk-menu-separated
                        a.atk-padding.atk-swatch-blue.atk-actions.atk-text-medium(href="javascript:void(0)")
                          span.atk-cells.atk-cells-gutter
                            span.atk-cell
                              span.icon-scale.atk-size-kilo
                            span.atk-cell.atk-expand
                              | Manufacturing
                      li.atk-menu-separated
                        a.atk-padding.atk-swatch-blue.atk-actions.atk-text-medium(href="javascript:void(0)")
                          span.atk-cells.atk-cells-gutter
                            span.atk-cell
                              span.icon-scale.atk-size-kilo
                            span.atk-cell.atk-expand
                              | Wholesale
                      li.atk-menu-separated
                        a.atk-padding.atk-swatch-blue.atk-actions.atk-text-medium(href="javascript:void(0)")
                          span.atk-cells.atk-cells-gutter
                            span.atk-cell
                              span.icon-scale.atk-size-kilo
                            span.atk-cell.atk-expand
                              | Retail
                      li.atk-menu-separated
                        a.atk-padding.atk-swatch-blue.atk-actions.atk-text-medium(href="javascript:void(0)")
                          span.atk-cells.atk-cells-gutter
                            span.atk-cell
                              span.icon-scale.atk-size-kilo
                            span.atk-cell.atk-expand
                              | Telecom
                      li.atk-menu-separated
                        a.atk-padding.atk-swatch-blue.atk-actions.atk-text-medium(href="javascript:void(0)")
                          span.atk-cells.atk-cells-gutter
                            span.atk-cell
                              span.icon-scale.atk-size-kilo
                            span.atk-cell.atk-expand
                              | Mini-crediting
                      li.atk-menu-separated
                        a.atk-padding.atk-swatch-blue.atk-actions.atk-text-medium(href="javascript:void(0)")
                          span.atk-cells.atk-cells-gutter
                            span.atk-cell
                              span.icon-scale.atk-size-kilo
                            span.atk-cell.atk-expand
                              | Government Sector
                      li.atk-menu-separated
                        a.atk-padding.atk-swatch-blue.atk-actions.atk-text-medium(href="javascript:void(0)")
                          span.atk-cells.atk-cells-gutter
                            span.atk-cell
                              span.icon-scale.atk-size-kilo
                            span.atk-cell.atk-expand
                              | Aviation
                    hr.atk-hr-reset
                    .atk-padding-large
                      a.atk-box-small.box-outline.atk-align-center(href="javascript:void(0)")
                        | Didn't find your
                        br
                        | industry here?
                .atk-col-8.atk-section-large.content
                  section.atk-push-large
                    h1 Insurance
                    hr.hr-short.atk-col-1
                    p Scandic Fusion has experience with implementing solutions for both non-life and life insurance. Data marts enable product-specific insight of MTPL, KASKO, property, travel, accident, health and civil liability insurance types.
                    p Analytical facts include relevant measures, e.g. gross written premiums, earned/unearned premiums by dates, total claims amount, loss ratio, regulated-unpaid, potential payments outstanding, and various reserves by dates.
                  section.feature-breakdown
                    .atk-cells.atk-cells-gutter
                      .atk-cell.atk-col-6.atk-valign-top
                        .atk-box.atk-border-active.box-corner
                          h4 Policies Claims
                          .corner
                          ul.atk-size-milli
                            li Gross written premiums
                            li Unused premium reserves
                            li RBNS reserves
                            li Payouts
                            li Detaliziation to risk premiumsand insurance type
                            li Calculated amounts (derived KPIs)
                            li Sales budgets
                        .atk-box.atk-border-active.box-corner
                          h4 Actuaries
                          .corner
                          ul.atk-size-milli
                            li Solvency II
                            li Insured amounts detalization on risk &amp; insurance type levels
                        .atk-box.atk-border-active.box-corner
                          h4 Reinsurance
                          .corner
                          ul.atk-size-milli
                            li Profitability
                            li Risk profiles
                            li Reinsurance contracts
                        .atk-box.atk-border-active.box-corner
                          h4 Insurance Debtors or Creditors
                          .corner
                          ul.atk-size-milli
                            li Policy payment tracking by schedule
                            li Intermediary outstanding
                      .atk-cell.atk-col-6.atk-valign-top
                        .atk-box.atk-border-active.box-corner
                          h4 Accumulated Capital for Life Insurance
                          .corner
                          ul.atk-size-milli
                            li Investment analysis
                            li Accumalated capital history tracking
                            li RBNS reserves
                            li Payouts
                            li Detaliziation to risk premiumsand insurance type
                            li Calculated amounts (derived KPIs)
                            li Sales budgets
                        .atk-box.atk-border-active.box-corner
                          h4 Insurance Capitals
                          .corner
                          ul.atk-size-milli
                            li Client segmentation
                            li Unique clients indetification
                        .atk-box.atk-border-active.box-corner
                          h4 Claims Management
                          .corner
                          ul.atk-size-milli
                            li Activity monitoring
                            li Handling times
                            li Reserves and regresses
                        .atk-box.atk-border-active.box-corner
                          h4 Insurance Market Analysis
                          .corner
                          ul.atk-size-milli
                            li Policy counts and premiums
                            li Claim counts and payouts
                  hr.atk-hr-large
                  section.atk-align-center
                    h3.atk-push.text-bodycolor Do you have any questions about our work?
                    button.atk-button-large.atk-swatch-blue.atk-col-6.button-pill.atk-size-milli
                      | CONTACT US
                      span.icon-arrow-east.atk-size-nano

    include includes/scripts
