include includes/doctype
html(class='no-js')
  <!--<![endif]-->
  include includes/head
  body
    include includes/browsehappy
    include includes/analytics
    .atk-layout
      include includes/header
      .atk-layout-row.atk-layout-expand
        .atk-layout.atk-layout-cell#atk-layout-content
          .atk-layout-column.atk-layout-fluid
            section.atk-section-xlarge
              .atk-wrapper.atk-align-center
                h1 Career in Scandic Fusion
                hr.hr-short.atk-col-1.atk-move-center
                p.atk-size-mega.atk-text-light
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget justo eget nisl mattis posuere eu ut neque. Aenean congue mollis est, ac viverra mauris bibendum et.
            section
              .tabs-jobs
                .atk-wrapper
                  ul
                    li
                      a(href='#tab-1').atk-size-mega.atk-text-normal SQL developer
                    li
                        a(href='#tab-2').atk-size-mega.atk-text-normal Functional analyst/BI consultant
                hr.atk-hr-reset.atk-border-active
                .atk-wrapper
                  #tab-1.atk-section-xlarge
                    .atk-push-large
                      .atk-row
                        .atk-col-6
                          h5.atk-text-bold DESCRIPTION
                          p Proin pretium, leo ac pellentesque mollis, felis nunc ultrices eros, sed gravida augue augue mollis justo. Suspendisse eu ligula. Nulla facilisi. Donec id justo. Praesent porttitor, nulla vitae posuere iaculis, arcu nisl dignissim dolor, a pretium mi sem ut ipsum. Curabitur suscipit suscipit tellus.
                          p Praesent vestibulum dapibus nibh. Etiam iaculis nunc ac metus. Ut id nisl quis enim dignissim sagittis. Etiam sollicitudin, ipsum eu pulvinar rutrum, tellus ipsum laoreet sapien, quis venenatis ante odio sit amet eros. Proin magna. Duis vel nibh at velit scelerisque suscipit. Curabitur turpis.
                        .atk-col-6
                          h5.atk-text-bold REQUIREMENTS
                          p
                            | Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.
                    .atk-align-center
                      button.atk-button-large.atk-swatch-blue.atk-col-4.button-pill
                        | Apply for this job
                        span.icon-arrow-east.atk-size-nano
                  #tab-2.atk-section-xlarge
                    .atk-push-large
                      .atk-row
                        .atk-col-6
                          h5.atk-text-bold DESCRIPTION
                          p Proin pretium, leo ac pellentesque mollis, felis nunc ultrices eros, sed gravida augue augue mollis justo. Suspendisse eu ligula. Nulla facilisi. Donec id justo. Praesent porttitor, nulla vitae posuere iaculis, arcu nisl dignissim dolor, a pretium mi sem ut ipsum. Curabitur suscipit suscipit tellus.
                          p Praesent vestibulum dapibus nibh. Etiam iaculis nunc ac metus. Ut id nisl quis enim dignissim sagittis. Etiam sollicitudin, ipsum eu pulvinar rutrum, tellus ipsum laoreet sapien, quis venenatis ante odio sit amet eros. Proin magna. Duis vel nibh at velit scelerisque suscipit. Curabitur turpis.
                        .atk-col-6
                          h5.atk-text-bold REQUIREMENTS
                          p
                            | Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.
                    .atk-align-center
                      button.atk-button-large.atk-swatch-blue.atk-col-4.button-pill
                        | Apply for this job
                        span.icon-arrow-east.atk-size-nano
            hr.atk-hr-reset
            section.atk-wrapper
              .atk-section-xlarge
                .atk-row
                  .atk-col-6
                    include includes/action-about
                  .atk-col-6
                    include includes/action-contact
    include includes/scripts
