section.atk-section-xlarge
  .atk-wrapper.atk-align-center
    h1 {$title}
    hr.hr-short.atk-col-1.atk-move-center
    p.atk-size-mega.atk-text-light
      | {$content}
section
  .tabs-jobs
    .atk-wrapper
      ul
        {TabTitle}{rows}{row}
        li
          a(href='#tab-{$id}').atk-size-mega.atk-text-normal {$name}
        {/}
        li
            a(href='#tab-2').atk-size-mega.atk-text-normal Functional analyst/BI consultant
        {/}{/}
    hr.atk-hr-reset.atk-border-active
    .atk-wrapper
      {TabBody}{rows}{row}
      .atk-section-xlarge(id="tab-{$id}")
        .atk-push-large
          .atk-row
            .atk-col-6
              {$content_left}
            .atk-col-6
              {$content_right}
        .atk-align-center
          a.atk-button-large.atk-swatch-blue.atk-col-4.button-pill(href="{page}contact{/}")
            | Apply for this job
            span.icon-arrow-east.atk-size-nano
      {/}
      {/}{/}
hr.atk-hr-reset
{$ActionsWithIcons}
