section.atk-wrapper
  figure.left
    img(src="temp/graphic-landing.png")
  figure.right
    img(src="temp/graphic-landing.png")
  .atk-push-xlarge.welcome
    h1.atk-push.atk-text-baseline-default {$title}
    .atk-row
      .atk-col-4
      .atk-col-4
        a.atk-button-large.button-pill.atk-swatch-blue.atk-expand(href="{page}index{/}") Back
