
<section class="atk-wrapper">
  <figure class="left"><img src="temp/graphic-landing.png"/></figure>
  <figure class="right"><img src="temp/graphic-landing.png"/></figure>
  <div class="atk-push-xlarge welcome">
    <h1 class="atk-push atk-text-baseline-default">{$title}</h1>
    <div class="atk-row">
      <div class="atk-col-4"></div>
      <div class="atk-col-4"><a href="{page}index{/}" class="atk-button-large button-pill atk-swatch-blue atk-expand">Back</a></div>
    </div>
  </div>
</section>
