
<section class="atk-wrapper">
  <div class="atk-row">
    <div class="atk-col-4 sidebar atk-hide-mobile">
      <aside class="atk-swatch-blue atk-section-large">
        <ul class="atk-menu-vertical">{SubMenu}{rows}{row}
          <li class="atk-menu-separated {$is_active}"><a href="{$page}" class="atk-padding atk-swatch-blue atk-actions atk-text-medium"><span class="atk-cells atk-cells-gutter"><span class="atk-cell"><span class="atk-size-kilo icon-{$icon}"></span></span><span class="atk-cell atk-expand">{$title}</span></span></a></li>{/row}
          {/rows}{/SubMenu}
        </ul>
      </aside>
    </div>
    <div class="atk-col-8 atk-section-large content">
      <section class="atk-push-large">
        <h1>{$title}</h1>
        <hr class="hr-short atk-col-1"/>
        <p class="atk-size-mega atk-text-light"><em>{$intro}</em></p>{content}md{/}
      </section>{Keywords}
      <section class="atk-push-large">
        <h5 class="atk-text-bold text-blue atk-push">Keywords &amp; Deliverables</h5>
        <div class="atk-size-micro tag-cloud">{rows}{row}<span class="atk-label atk-swatch-lightGray atk-padding-small atk-section-xsmall">{name}interviews with business representatives{/}</span>{/row}<span class="atk-label atk-swatch-lightGray atk-padding-small atk-section-xsmall">interviews with IT-personnel</span><span class="atk-label atk-swatch-lightGray atk-padding-small atk-section-xsmall">prototype/demo</span><span class="atk-label atk-swatch-lightGray atk-padding-small atk-section-xsmall">technical architecture</span><span class="atk-label atk-swatch-lightGray atk-padding-small atk-section-xsmall">requirements specifications</span><span class="atk-label atk-swatch-lightGray atk-padding-small atk-section-xsmall">project plan (aligned with priorities)</span>{/rows}</div>
      </section>{/}
      {$ActionInner}
    </div>
  </div>
</section>