section.services-header
  .atk-wrapper.atk-section-xlarge
    .atk-col-7
      h1 {$title}
      hr.hr-short.atk-col-1
      p.atk-size-mega.atk-text-light
        | {$content}
    figure.globe.atk-hide-mobile
      img(src="images/globe.png", alt="")

section.atk-swatch-blue.services-selection.services
  .atk-wrapper
    .atk-cells-group.atk-cells-justified.atk-expand.atk-align-center.atk-valign-top
      .atk-cells.atk-stack-mobile
        {SubMenu}{rows}{row}
        a.atk-cell.atk-section-large.atk-padding.atk-swatch-blue(href='{$page}')
          .atk-push.atk-size-yotta.atk-text-baseline-reset(class="icon-{$icon}")
          strong {$title}
        {/row}
        {/rows}{/SubMenu}
