
<section class="services-header">
  <div class="atk-wrapper atk-section-xlarge">
    <div class="atk-col-7">
      <h1>{$title}</h1>
      <hr class="hr-short atk-col-1"/>
      <p>{$content}</p>
    </div>
    <figure class="flower atk-hide-mobile"></figure>
  </div>
</section>
<section class="atk-swatch-blue services-selection cross-company">
  <div class="atk-wrapper">
    <div class="atk-cells-group atk-cells-justified atk-expand atk-align-center atk-valign-top">
      <div class="atk-cells atk-stack-mobile">{SubMenu}{rows}{row}<a href="{$page}" class="atk-cell atk-section-large atk-padding atk-swatch-blue">
          <div class="icon-{$icon} atk-push atk-size-yotta atk-text-baseline-reset"></div><strong>{$title}</strong></a>{/row}</div>
    </div>
  </div>
</section>{$Action}