
<section class="atk-section-xlarge">
  <div class="atk-wrapper atk-align-center">
    <h1>{$title}</h1>
    <hr class="hr-short atk-col-1 atk-move-center"/>
    <p class="atk-size-mega atk-text-light">{$content}</p>
  </div>
</section>
<section class="atk-wrapper atk-push-xlarge">
  <div class="atk-row atk-grid atk-grid-gutter-xsmall team-members">{Team}{rows}{row}
    <figure class="atk-col-2 team-member"><img src="{$photo}" class="atk-expand"/>
      <figcaption class="atk-swatch-blue atk-cells">
        <div class="atk-cell atk-valign-bottom">
          <div class="atk-text-bold atk-push-xsmall">{$name_en}</div>{$position_en}
        </div>
      </figcaption>
    </figure>{/}{/}{/}
    {has_block}
    <div class="atk-col-{$width} atk-cells">
      <div class="atk-cell team-member-join atk-align-center atk-swatch-blue">
        <h3 class="atk-text-medium"><a href="{$url}" class="atk-cells atk-cells-gutter-xsmall atk-move-center">
            <div class="atk-cell">{$title}</div>
            <div class="atk-cell"><span class="icon-arrow-east atk-size-nano atk-block"></span></div></a></h3>
        <p class="atk-text-dimmed">{$subtitle}</p>
      </div>
    </div>{/}
  </div>
</section>
<hr class="atk-hr-reset"/>{$Links}