section.atk-section-xlarge
  .atk-wrapper.atk-align-center
    h1 Meet Our Team
    hr.hr-short.atk-col-1.atk-move-center
    p.atk-size-mega.atk-text-light
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget justo eget nisl mattis posuere eu ut neque. Aenean congue mollis est, ac viverra mauris bibendum et.
section.atk-wrapper.atk-push-xlarge
  .atk-row.atk-grid.atk-grid-gutter-xsmall.team-members
    figure.atk-col-2.team-member
      img.atk-expand(src="temp/team-1.jpg")
      figcaption.atk-swatch-blue.atk-cells
        .atk-cell.atk-valign-bottom
          .atk-text-bold.atk-push-xsmall
            | Rihards
            br
            | Jekabsons
          | Job Position
    figure.atk-col-2.team-member
      img.atk-expand(src="temp/team-2.jpg")
      figcaption.atk-swatch-blue.atk-cells
        .atk-cell.atk-valign-bottom
          .atk-text-bold.atk-push-xsmall
            | Rihards
            br
            | Jekabsons
          | Job Position
    figure.atk-col-2.team-member
      img.atk-expand(src="temp/team-3.jpg")
      figcaption.atk-swatch-blue.atk-cells
        .atk-cell.atk-valign-bottom
          .atk-text-bold.atk-push-xsmall
            | Rihards
            br
            | Jekabsons
          | Job Position
    figure.atk-col-2.team-member
      img.atk-expand(src="temp/team-4.jpg")
      figcaption.atk-swatch-blue.atk-cells
        .atk-cell.atk-valign-bottom
          .atk-text-bold.atk-push-xsmall
            | Rihards
            br
            | Jekabsons
          | Job Position
    figure.atk-col-2.team-member
      img.atk-expand(src="temp/team-5.jpg")
      figcaption.atk-swatch-blue.atk-cells
        .atk-cell.atk-valign-bottom
          .atk-text-bold.atk-push-xsmall
            | Rihards
            br
            | Jekabsons
          | Job Position
    figure.atk-col-2.team-member
      img.atk-expand(src="temp/team-6.jpg")
      figcaption.atk-swatch-blue.atk-cells
        .atk-cell.atk-valign-bottom
          .atk-text-bold.atk-push-xsmall
            | Rihards
            br
            | Jekabsons
          | Job Position
    figure.atk-col-2.team-member
      img.atk-expand(src="temp/team-7.jpg")
      figcaption.atk-swatch-blue.atk-cells
        .atk-cell.atk-valign-bottom
          .atk-text-bold.atk-push-xsmall
            | Rihards
            br
            | Jekabsons
          | Job Position
    figure.atk-col-2.team-member
      img.atk-expand(src="temp/team-8.jpg")
      figcaption.atk-swatch-blue.atk-cells
        .atk-cell.atk-valign-bottom
          .atk-text-bold.atk-push-xsmall
            | Rihards
            br
            | Jekabsons
          | Job Position
    figure.atk-col-2.team-member
      img.atk-expand(src="temp/team-9.jpg")
      figcaption.atk-swatch-blue.atk-cells
        .atk-cell.atk-valign-bottom
          .atk-text-bold.atk-push-xsmall
            | Rihards
            br
            | Jekabsons
          | Job Position
    figure.atk-col-2.team-member
      img.atk-expand(src="temp/team-10.jpg")
      figcaption.atk-swatch-blue.atk-cells
        .atk-cell.atk-valign-bottom
          .atk-text-bold.atk-push-xsmall
            | Rihards
            br
            | Jekabsons
          | Job Position
    figure.atk-col-2.team-member
      img.atk-expand(src="temp/team-11.jpg")
      figcaption.atk-swatch-blue.atk-cells
        .atk-cell.atk-valign-bottom
          .atk-text-bold.atk-push-xsmall
            | Rihards
            br
            | Jekabsons
          | Job Position
    figure.atk-col-2.team-member
      img.atk-expand(src="temp/team-12.jpg")
      figcaption.atk-swatch-blue.atk-cells
        .atk-cell.atk-valign-bottom
          .atk-text-bold.atk-push-xsmall
            | Rihards
            br
            | Jekabsons
          | Job Position
    figure.atk-col-2.team-member
      img.atk-expand(src="temp/team-13.jpg")
      figcaption.atk-swatch-blue.atk-cells
        .atk-cell.atk-valign-bottom
          .atk-text-bold.atk-push-xsmall
            | Rihards
            br
            | Jekabsons
          | Job Position
    figure.atk-col-2.team-member
      img.atk-expand(src="temp/team-14.jpg")
      figcaption.atk-swatch-blue.atk-cells
        .atk-cell.atk-valign-bottom
          .atk-text-bold.atk-push-xsmall
            | Rihards
            br
            | Jekabsons
          | Job Position
    figure.atk-col-2.team-member
      img.atk-expand(src="temp/team-15.jpg")
      figcaption.atk-swatch-blue.atk-cells
        .atk-cell.atk-valign-bottom
          .atk-text-bold.atk-push-xsmall
            | Rihards
            br
            | Jekabsons
          | Job Position
    figure.atk-col-2.team-member
      img.atk-expand(src="temp/team-16.jpg")
      figcaption.atk-swatch-blue.atk-cells
        .atk-cell.atk-valign-bottom
          .atk-text-bold.atk-push-xsmall
            | Rihards
            br
            | Jekabsons
          | Job Position
    figure.atk-col-2.team-member
      img.atk-expand(src="temp/team-17.jpg")
      figcaption.atk-swatch-blue.atk-cells
        .atk-cell.atk-valign-bottom
          .atk-text-bold.atk-push-xsmall
            | Rihards
            br
            | Jekabsons
          | Job Position
    figure.atk-col-2.team-member
      img.atk-expand(src="temp/team-18.jpg")
      figcaption.atk-swatch-blue.atk-cells
        .atk-cell.atk-valign-bottom
          .atk-text-bold.atk-push-xsmall
            | Rihards
            br
            | Jekabsons
          | Job Position
    figure.atk-col-2.team-member
      img.atk-expand(src="temp/team-19.jpg")
      figcaption.atk-swatch-blue.atk-cells
        .atk-cell.atk-valign-bottom
          .atk-text-bold.atk-push-xsmall
            | Rihards
            br
            | Jekabsons
          | Job Position
    figure.atk-col-2.team-member
      img.atk-expand(src="temp/team-20.jpg")
      figcaption.atk-swatch-blue.atk-cells
        .atk-cell.atk-valign-bottom
          .atk-text-bold.atk-push-xsmall
            | Rihards
            br
            | Jekabsons
          | Job Position
    figure.atk-col-2.team-member
      img.atk-expand(src="temp/team-21.jpg")
      figcaption.atk-swatch-blue.atk-cells
        .atk-cell.atk-valign-bottom
          .atk-text-bold.atk-push-xsmall
            | Rihards
            br
            | Jekabsons
          | Job Position
    .atk-col-6.atk-cells
      .atk-cell.team-member-join.atk-align-center.atk-swatch-blue
        h3.atk-text-medium
          a.atk-cells.atk-cells-gutter-xsmall.atk-move-center(href='javascript:void(0)')
            .atk-cell Join our team
            .atk-cell
              span.icon-arrow-east.atk-size-nano.atk-block
        p.atk-text-dimmed We are always hiring.
hr.atk-hr-reset
{$Links}
