
<section class="atk-section-xlarge">
  <div class="atk-wrapper atk-align-center">
    <h1>Meet Our Team</h1>
    <hr class="hr-short atk-col-1 atk-move-center"/>
    <p class="atk-size-mega atk-text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget justo eget nisl mattis posuere eu ut neque. Aenean congue mollis est, ac viverra mauris bibendum et.</p>
  </div>
</section>
<section class="atk-wrapper atk-push-xlarge">
  <div class="atk-row atk-grid atk-grid-gutter-xsmall team-members">
    <figure class="atk-col-2 team-member"><img src="temp/team-1.jpg" class="atk-expand"/>
      <figcaption class="atk-swatch-blue atk-cells">
        <div class="atk-cell atk-valign-bottom">
          <div class="atk-text-bold atk-push-xsmall">Rihards<br/>Jekabsons</div>Job Position
        </div>
      </figcaption>
    </figure>
    <figure class="atk-col-2 team-member"><img src="temp/team-2.jpg" class="atk-expand"/>
      <figcaption class="atk-swatch-blue atk-cells">
        <div class="atk-cell atk-valign-bottom">
          <div class="atk-text-bold atk-push-xsmall">Rihards<br/>Jekabsons</div>Job Position
        </div>
      </figcaption>
    </figure>
    <figure class="atk-col-2 team-member"><img src="temp/team-3.jpg" class="atk-expand"/>
      <figcaption class="atk-swatch-blue atk-cells">
        <div class="atk-cell atk-valign-bottom">
          <div class="atk-text-bold atk-push-xsmall">Rihards<br/>Jekabsons</div>Job Position
        </div>
      </figcaption>
    </figure>
    <figure class="atk-col-2 team-member"><img src="temp/team-4.jpg" class="atk-expand"/>
      <figcaption class="atk-swatch-blue atk-cells">
        <div class="atk-cell atk-valign-bottom">
          <div class="atk-text-bold atk-push-xsmall">Rihards<br/>Jekabsons</div>Job Position
        </div>
      </figcaption>
    </figure>
    <figure class="atk-col-2 team-member"><img src="temp/team-5.jpg" class="atk-expand"/>
      <figcaption class="atk-swatch-blue atk-cells">
        <div class="atk-cell atk-valign-bottom">
          <div class="atk-text-bold atk-push-xsmall">Rihards<br/>Jekabsons</div>Job Position
        </div>
      </figcaption>
    </figure>
    <figure class="atk-col-2 team-member"><img src="temp/team-6.jpg" class="atk-expand"/>
      <figcaption class="atk-swatch-blue atk-cells">
        <div class="atk-cell atk-valign-bottom">
          <div class="atk-text-bold atk-push-xsmall">Rihards<br/>Jekabsons</div>Job Position
        </div>
      </figcaption>
    </figure>
    <figure class="atk-col-2 team-member"><img src="temp/team-7.jpg" class="atk-expand"/>
      <figcaption class="atk-swatch-blue atk-cells">
        <div class="atk-cell atk-valign-bottom">
          <div class="atk-text-bold atk-push-xsmall">Rihards<br/>Jekabsons</div>Job Position
        </div>
      </figcaption>
    </figure>
    <figure class="atk-col-2 team-member"><img src="temp/team-8.jpg" class="atk-expand"/>
      <figcaption class="atk-swatch-blue atk-cells">
        <div class="atk-cell atk-valign-bottom">
          <div class="atk-text-bold atk-push-xsmall">Rihards<br/>Jekabsons</div>Job Position
        </div>
      </figcaption>
    </figure>
    <figure class="atk-col-2 team-member"><img src="temp/team-9.jpg" class="atk-expand"/>
      <figcaption class="atk-swatch-blue atk-cells">
        <div class="atk-cell atk-valign-bottom">
          <div class="atk-text-bold atk-push-xsmall">Rihards<br/>Jekabsons</div>Job Position
        </div>
      </figcaption>
    </figure>
    <figure class="atk-col-2 team-member"><img src="temp/team-10.jpg" class="atk-expand"/>
      <figcaption class="atk-swatch-blue atk-cells">
        <div class="atk-cell atk-valign-bottom">
          <div class="atk-text-bold atk-push-xsmall">Rihards<br/>Jekabsons</div>Job Position
        </div>
      </figcaption>
    </figure>
    <figure class="atk-col-2 team-member"><img src="temp/team-11.jpg" class="atk-expand"/>
      <figcaption class="atk-swatch-blue atk-cells">
        <div class="atk-cell atk-valign-bottom">
          <div class="atk-text-bold atk-push-xsmall">Rihards<br/>Jekabsons</div>Job Position
        </div>
      </figcaption>
    </figure>
    <figure class="atk-col-2 team-member"><img src="temp/team-12.jpg" class="atk-expand"/>
      <figcaption class="atk-swatch-blue atk-cells">
        <div class="atk-cell atk-valign-bottom">
          <div class="atk-text-bold atk-push-xsmall">Rihards<br/>Jekabsons</div>Job Position
        </div>
      </figcaption>
    </figure>
    <figure class="atk-col-2 team-member"><img src="temp/team-13.jpg" class="atk-expand"/>
      <figcaption class="atk-swatch-blue atk-cells">
        <div class="atk-cell atk-valign-bottom">
          <div class="atk-text-bold atk-push-xsmall">Rihards<br/>Jekabsons</div>Job Position
        </div>
      </figcaption>
    </figure>
    <figure class="atk-col-2 team-member"><img src="temp/team-14.jpg" class="atk-expand"/>
      <figcaption class="atk-swatch-blue atk-cells">
        <div class="atk-cell atk-valign-bottom">
          <div class="atk-text-bold atk-push-xsmall">Rihards<br/>Jekabsons</div>Job Position
        </div>
      </figcaption>
    </figure>
    <figure class="atk-col-2 team-member"><img src="temp/team-15.jpg" class="atk-expand"/>
      <figcaption class="atk-swatch-blue atk-cells">
        <div class="atk-cell atk-valign-bottom">
          <div class="atk-text-bold atk-push-xsmall">Rihards<br/>Jekabsons</div>Job Position
        </div>
      </figcaption>
    </figure>
    <figure class="atk-col-2 team-member"><img src="temp/team-16.jpg" class="atk-expand"/>
      <figcaption class="atk-swatch-blue atk-cells">
        <div class="atk-cell atk-valign-bottom">
          <div class="atk-text-bold atk-push-xsmall">Rihards<br/>Jekabsons</div>Job Position
        </div>
      </figcaption>
    </figure>
    <figure class="atk-col-2 team-member"><img src="temp/team-17.jpg" class="atk-expand"/>
      <figcaption class="atk-swatch-blue atk-cells">
        <div class="atk-cell atk-valign-bottom">
          <div class="atk-text-bold atk-push-xsmall">Rihards<br/>Jekabsons</div>Job Position
        </div>
      </figcaption>
    </figure>
    <figure class="atk-col-2 team-member"><img src="temp/team-18.jpg" class="atk-expand"/>
      <figcaption class="atk-swatch-blue atk-cells">
        <div class="atk-cell atk-valign-bottom">
          <div class="atk-text-bold atk-push-xsmall">Rihards<br/>Jekabsons</div>Job Position
        </div>
      </figcaption>
    </figure>
    <figure class="atk-col-2 team-member"><img src="temp/team-19.jpg" class="atk-expand"/>
      <figcaption class="atk-swatch-blue atk-cells">
        <div class="atk-cell atk-valign-bottom">
          <div class="atk-text-bold atk-push-xsmall">Rihards<br/>Jekabsons</div>Job Position
        </div>
      </figcaption>
    </figure>
    <figure class="atk-col-2 team-member"><img src="temp/team-20.jpg" class="atk-expand"/>
      <figcaption class="atk-swatch-blue atk-cells">
        <div class="atk-cell atk-valign-bottom">
          <div class="atk-text-bold atk-push-xsmall">Rihards<br/>Jekabsons</div>Job Position
        </div>
      </figcaption>
    </figure>
    <figure class="atk-col-2 team-member"><img src="temp/team-21.jpg" class="atk-expand"/>
      <figcaption class="atk-swatch-blue atk-cells">
        <div class="atk-cell atk-valign-bottom">
          <div class="atk-text-bold atk-push-xsmall">Rihards<br/>Jekabsons</div>Job Position
        </div>
      </figcaption>
    </figure>
    <div class="atk-col-6 atk-cells">
      <div class="atk-cell team-member-join atk-align-center atk-swatch-blue">
        <h3 class="atk-text-medium"><a href="javascript:void(0)" class="atk-cells atk-cells-gutter-xsmall atk-move-center">
            <div class="atk-cell">Join our team</div>
            <div class="atk-cell"><span class="icon-arrow-east atk-size-nano atk-block"></span></div></a></h3>
        <p class="atk-text-dimmed">We are always hiring.</p>
      </div>
    </div>
  </div>
</section>
<hr class="atk-hr-reset"/>{$Links}