section.atk-section-xlarge
  .atk-wrapper.atk-align-center
    h1 {$title}
    hr.hr-short.atk-col-1.atk-move-center
    p.atk-size-mega.atk-text-light
      | {$content}
hr.atk-hr-reset
section.atk-section-xlarge.technology-stack
  .atk-wrapper
    .atk-row
      //- {Left}
      //- {rows}{row}
      //- .atk-col-6(class="atk-move-{$block_position} {$class}")
      //-   .atk-box.atk-swatch-blue(style="height:435px")
      //-     h4 {$name}
      //-     p {$content}
      //-     ul.atk-size-micro {$bullets}
      //-     .atk-push 
      //-     div(class="atk-align-{$image_position}")
      //-       img(src="{$image}"  style="width:50%" onload="resizeUpdate()")
      //-     .point.atk-shape-circle(class="point-{$connection_point}")
      //-     {bottom_connector}
      //-     .point.atk-shape-circle(class="point-{$connection_point}")
      //-     {/}
      //-     {dro_top_bottom_conntection_wrapper}
      //-     .point.atk-shape-circle.point-top
      //-     .point.atk-shape-circle.point-bottom
      //-     .connection(class="connection-top")
      //-     .connection(class="connection-bottom")
      //-     {/dro_top_bottom_conntection_wrapper}
      //-     {connection_wrapper}
      //-     .connection(class="connection-{$connection_lines}")
      //-     {/connection_wrapper}
      //- div.technology-block-seprator      
      //- {/}
      //- {Right}
      //- .atk-clear-fix
      //- {rows}{row}
      //- .atk-col-6(class="atk-move-{$block_position}  {$class}" )
      //-   .atk-box.atk-swatch-blue(style="height:435px")
      //-     h4 {$name}
      //-     p {$content}
      //-     ul.atk-size-micro {$bullets}
      //-     .atk-push 
      //-     div(class="atk-align-{$image_position}")
      //-       img(src="{$image}"  style="width:50%" onload="resizeUpdate()")
      //-     .point.atk-shape-circle(class="point-{$connection_point}")
      //-     {bottom_connector}
      //-     .point.atk-shape-circle(class="point-{$connection_point}")
      //-     {/}
      //-     {dro_top_bottom_conntection_wrapper}
      //-     .point.atk-shape-circle.point-top
      //-     .point.atk-shape-circle.point-bottom
      //-     .connection(class="connection-top")
      //-     .connection(class="connection-bottom")
      //-     {/dro_top_bottom_conntection_wrapper}
      //-     {connection_wrapper}
      //-     .connection(class="connection-{$connection_lines}")
      //-     {/connection_wrapper}
      //- div.technology-block-seprator      
      //- {/}
      {Center}
      //- .atk-clear-fix
      {rows}{row}
      {$atk-clear-fix_before}
      .atk-col-6(class="atk-move-{$block_position} {$class} technology-stack-{$block_position}"  )
        .atk-box.atk-swatch-blue(class="{$classs}" )
          h4 {$name}
          p {$content}
          {bullets_wrapper}
          ul.atk-size-micro {$bullets}
          {/bullets_wrapper}
          {image_wrapper}
          .atk-push 
          div(class="atk-align-{$image_position}")
            img(src="{$block_image}"  style="width:50%")
          {/image_wrapper}
          {$connection_point_wrapper}
          {$dro_top_bottom_conntection_wrapper}
          {$connection_wrapper}
      {$atk-clear-fix_after}
      {/}
      {/}{/}
hr.atk-hr-reset
{$Action}