h3 Select Template for your new page
.atk-row.atk-push.atk-grid
  {rows}
  {row}
  .atk-col-2
    .atk-box-small.layout-template
      a.atk-box-small.atk-swatch-gray.atk-push-small(href='{$url}')
        img(src="{thumb}image/wireframe/index.png{/}" style="width: 100%")

      .atk-align-center.atk-size-kilo
        a(href='{$url}') {name}Fixed{/}
  {/row}

  {/rows}
