<!DOCTYPE html><!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<html lang="{lang}en{/}">
  <head>
    <meta charset="utf-8"><!--[if IE><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <title>{page_title}Scandic Fusion{/}</title>
    {$page_metas}
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300,700" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{css}scandic.css{/}">
    <link rel="stylesheet" type="text/css" href="{css}royalslider.css{/}">
	  {$js_block}
    {$js_include}
    <script type="text/javascript">
      $(function(){
          {$document_ready}
      });
    </script>
  </head>
  <body class="{$pagename}">
	  <!--[if lt IE 8]>
	  <p class="browsehappy">
		  You are using an <strong>outdated</strong> browser.
		  Please <a href="http://browsehappy.com/">upgrade your browser</a>
		  to improve your experience.
	  </p><![endif]-->
    {Layout}{$Content}{/}
  </body>
</html>
