section.atk-wrapper.atk-push
  .atk-push-small(style="text-align:justify") {$content}
  .atk-row.atk-grid.atk-grid-gutter-xsmall(ontouchstart="")
    {rows}{row}
    .atk-push-small.atk-col-12.atk-align-center
      img(src="{$image}").atk-inline
    {/}{/}