section.atk-wrapper.atk-push.atk-box-large
  .atk-push-small {$content}
  .atk-row.atk-grid.atk-grid-gutter-xsmall(ontouchstart="")
    {rows}{row}
    .atk-push-small.atk-col-2
      img(src="{$image}", height="80").atk-inline
    {/}{/}