hr.atk-hr-large
section.atk-align-center
    h3.atk-push.text-bodycolor {$action_title}
    {Action1}
    button.atk-button-large.atk-swatch-blue.atk-col-6.button-pill.atk-size-milli
        | {$name}
        span.icon-arrow-east.atk-size-nano
    {/}
