section.atk-section-xlarge.call-to-action
  .atk-wrapper.atk-align-center
    h2.atk-push.text-bodycolor {$action_title}
    .atk-cells.atk-cells-gutter-large.atk-stack-mobile.atk-col-8.atk-move-center.atk-cells-justified
        {Action1}
        .atk-cell
            a.atk-button-large.button-pill.atk-swatch-blue.atk-expand(href="{$url_full}")
              | {$name}
              span.icon-arrow-east.atk-size-nano

        {/}
        {Action2}
        .atk-cell
            a.atk-button-large.button-pill.atk-swatch-blue.atk-expand(href="{$url_full}")
              | {$name}
              span.icon-arrow-east.atk-size-nano

        {/}
