
<hr class="atk-hr-large"/>
<section class="atk-align-center">
  <h3 class="atk-push text-bodycolor">{$action_title}</h3>
  <div class="atk-cells atk-cells-gutter-large atk-stack-mobile atk-col-8 atk-move-center atk-cells-justified">{Action1}
    <div class="atk-cell"><a href="{$url_full}" class="atk-button-large button-pill atk-swatch-blue atk-expand">{$name}<span class="icon-arrow-east atk-size-nano"></span></a></div>{/}
    {Action2}
    <div class="atk-cell"><a href="{$url_full}" class="atk-button-large button-pill atk-swatch-blue atk-expand">{$name}<span class="icon-arrow-east atk-size-nano"></span></a></div>{/}
  </div>
</section>