
<hr class="atk-hr-reset"/>
<section class="atk-wrapper">
  <div class="atk-section-xlarge">
    <div class="atk-row atk-push">{Action1}
      <div class="atk-col-6">
        <div class="atk-cells"><a href="{$url_full}" class="atk-cell atk-swatch-lightGray atk-shape-rounded further-action atk-text-baseline-reset atk-align-center"><span class="icon-{$icon} atk-size-pow9 atk-inline atk-push-small"></span>
            <div class="atk-size-mega atk-text-medium">{$name}</div></a></div>
      </div>{/}
      {Action2}
      <div class="atk-col-6">
        <div class="atk-cells"><a href="{$url_full}" class="atk-cell atk-swatch-lightGray atk-shape-rounded further-action atk-text-baseline-reset atk-align-center"><span class="icon-{$icon} atk-size-pow9 atk-inline atk-push-small"></span>
            <!-- span.icon-user-network-fix
            span.icon-user-network.atk-size-pow10.atk-inline.atk-push-small.main
            span.icon-user-network.atk-size-pow9.atk-inline.atk-push-small.hidden
            -->
            <div class="atk-size-mega atk-text-medium">{$name}</div></a></div>
      </div>{/}
    </div>
  </div>
</section>
