section.atk-section-xlarge.call-to-action
  .atk-wrapper.atk-align-center
    h2.atk-push.text-bodycolor {$action_title}
    {Action1}
    a.atk-button-large.atk-swatch-blue.atk-col-4.button-pill(href="{$url_full}")
      | {$name}
      span.icon-arrow-east.atk-size-nano

    {/}
