<div class="atk-layout">
    <div class="atk-layout-row header">{Header}
        <div class="atk-layout-cell">
            <div class="atk-wrapper">{Header_Content}
                <div class="atk-cells">
                    <div class="atk-cell atk-col-2"><a href="{page}/{/}" class="logo"><img src="{public}images/logo.svg{/}" alt="Scandic Fusion" width="140"></a></div>
                    <div class="atk-cell atk-expand">
                        {$Main_Menu}
                        <!--<div class="atk-align-right">{$Main_Menu}</div>-->
                        <!--<div class="atk-align-right">{$langs}</div>-->
                    </div>
                </div>{/Header_Content}
            </div>
            <hr class="atk-hr-reset">
        </div>{/Header}
    </div>
    <div class="atk-layout-row atk-layout-expand">
        <div id="atk-layout-content" class="atk-layout atk-layout-cell">
            <div class="atk-layout-column atk-layout-fluid">
                {$Content}
            </div>
        </div>
    </div>
</div>
